# Copyright (c) 2024 Alibaba
# SPDX-License-Identifier: Apache-2.0

CONFIG_PINCTRL=y
CONFIG_GPIO=y

CONFIG_SERIAL=y
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

CONFIG_SPI=n
CONFIG_I2C=n
CONFIG_XIP=n

CONFIG_I2C_LS=y
CONFIG_I2C_TARGET=y
CONFIG_I2C_EEPROM_TARGET=y
CONFIG_ASSERT=y

CONFIG_SMBUS=y
CONFIG_SMBUS_LINKEDSEMI=y
CONFIG_SMBUS_LINKEDSEMI_SMBALERT=n

CONFIG_MBOX=y
CONFIG_MBOX_LINKEDSEMI=y

CONFIG_ETH_DRIVER=y
CONFIG_ETH_DWMAC=y
CONFIG_NET_BUF_FIXED_DATA_SIZE=y
CONFIG_NET_L2_ETHERNET=y
