# Copyright (c) 2024 Alibaba
# SPDX-License-Identifier: Apache-2.0

CONFIG_OUTPUT_DISASSEMBLY=y
CONFIG_COMPILER_OPT="-O0"
CONFIG_NUM_USE_CPU=2
CONFIG_NUM_OS=2
CONFIG_CPU1_BOOT_ADDR=0x8000000

CONFIG_NOCACHE_MEMORY=y
CONFIG_RISCV_PMP=y
CONFIG_PMP_GRANULARITY=4096

CONFIG_BOOT_CPU1=n

CONFIG_ASSERT=y
CONFIG_MINIMAL_LIBC=y
CONFIG_MINIMAL_LIBC_RAND=y
CONFIG_MAIN_STACK_SIZE=20480
CONFIG_ISR_STACK_SIZE=4096

CONFIG_PINCTRL=y
CONFIG_GPIO=y

CONFIG_SERIAL=y
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

CONFIG_XIP=n
# CONFIG_SPI=y

# CONFIG_I2C=y
# CONFIG_I2C_TARGET=y
# CONFIG_I2C_EEPROM_TARGET=y
# CONFIG_SMBUS=y
# CONFIG_SMBUS_LINKEDSEMI_SMBALERT=n

# CONFIG_ETH_DRIVER=y
# CONFIG_ETH_DWMAC=y
# CONFIG_NET_L2_ETHERNET=y

# CONFIG_SDHC=y

# CONFIG_PECI=y

# CONFIG_JTAG=y
# CONFIG_SHELL=y

# CONFIG_CACHE=y
# CONFIG_CACHE_MANAGEMENT=y
# CONFIG_CACHE_LINKEDSEMI=y

# CONFIG_CRYPTO=y

# CONFIG_MBOX=y

# CONFIG_KCS=y
# CONFIG_IPMI=y
