# Copyright (c) 2024 Alibaba
# SPDX-License-Identifier: Apache-2.0

if BOARD_ALIMOC30

config FLASH_LOAD_OFFSET
	default 0x0

config HEAP_MEM_POOL_SIZE
	default 4096

config SINGLE_CORE
	bool "Run CMU with single core configurations"
	default n

config STORAGE_MEDIA_FLASH_RW
	bool "Using flash rw partitions as storage media"
    default y

config STORAGE_MEDIA_EMMC
	bool "Using emmc device as storage media"
    default y

endif
