# Linkedsemi CAP Sensor Driver Configuration

config CAP_LS
	bool "Linkedsemi CAP sensor driver"
	default y
	depends on SENSOR && PINCTRL
	depends on DT_HAS_LINKEDSEMI_LS_CAP_ENABLED
	help
	  Enable the Linkedsemi capacitive touch sensor driver.
	  This driver supports various CAP sensors from Linkedsemi.
	  Say Y here if you have such a sensor connected to your system.

if CAP_LS


config CAP_LS_V2
	bool "Enable CAP V2 mode support"
	default n
	help
	  Enable this option to add support for the newer QSH hardware variant
	  of the Linkedsemi CAP sensor. Leave disabled if using older hardware.

endif # CAP_LS