
#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/clock/ls101x_clock.h>

/ {
    #address-cells = <1>;
    #size-cells = <1>;
    chosen {
		zephyr,flash-controller = &flash_controller;
	};

    cpus {
		#address-cells = <1>;
		#size-cells = <0>;
		cpu0: cpu@0 {
            device_type = "cpu";
            compatible = "linkedsemi,riscv";
            riscv,isa = "e906";
			reg = <0>;
		};
    };

    sram0: memory@1000006c{
        compatible = "mmio-sram";
        reg = <0x1000006c 0x20000>;
    };

    soc {
        #address-cells = <1>;
        #size-cells = <1>;
        compatible = "simpe-bus";
        interrupt-parent = <&intc>;
        flash_controller: flash-controller@40000000 {
            compatible = "linkedsemi,ls-flash-controller";
            reg = <0x40000000 0x400>;

            #address-cells = <1>;
            #size-cells = <1>;
            interrupts = <3 3>;
            
            flash0: flash@8000000 {
                compatible = "soc-nv-flash";
                reg = <0x8000000 0x80000>;
                erase-block-size = <4096>;
                write-block-size = <4>;
            };
        };
        intc: interrupt-controller {
            compatible = "linkedsemi,riscv,e906-intc";
            #address-cells = <0>;
            #interrupt-cells = <2>;
            interrupt-controller;
        };
        mtimer: machine-timer@e0004000 {
			compatible = "linkedsemi,machine-timer";
			reg = <0xe0004000 0x8000>;
			interrupts = <7 0>;
		};

        per_cctl: clock-controller@4008d000 {
            compatible = "linkedsemi,ls-cctl";
            #clock-cells = <3>;
            reg = <0x4008d000 0x400>;
            status = "okay";
        };

        cpu_cctl: clock-controller@40009000 {
            compatible = "linkedsemi,ls-cctl";
            #clock-cells = <3>;
            reg = <0x40009000 0x1000>;
            status = "okay";
        };

        pinctrl: pin-controller@4000a060 {
			compatible = "linkedsemi,ls-pinctrl";
			interrupts = <19 3>,<78 3>;
			interrupt-names = "EXTI_GPIO_V33","EXTI_GPIO_VCore";
            reg = <0x4000a060 0x100>;
			#address-cells = <1>;
			#size-cells = <1>;
            
			gpioa: gpio@4000a060 {
				compatible = "linkedsemi,ls-gpio";
				gpio-controller;
				#gpio-cells = <2>;
				reg = <0x4000a060 0x20>;
                status = "disabled";
			};

			gpiob: gpio@4000a080 {
				compatible = "linkedsemi,ls-gpio";
				gpio-controller;
				#gpio-cells = <2>;
				reg = <0x4000a080 0x20>;
                status = "disabled";
			};

			gpioc: gpio@4000a0a0 {
				compatible = "linkedsemi,ls-gpio";
				gpio-controller;
				#gpio-cells = <2>;
				reg = <0x4000a0a0 0x20>;
                status = "disabled";
			};

            gpiod: gpio@4000a0c0 {
				compatible = "linkedsemi,ls-gpio";
				gpio-controller;
				#gpio-cells = <2>;
				reg = <0x4000a0c0 0x20>;
                status = "disabled";
			};

            gpioe: gpio@4000a0e0 {
				compatible = "linkedsemi,ls-gpio";
				gpio-controller;
				#gpio-cells = <2>;
				reg = <0x4000a0e0 0x20>;
                status = "disabled";
			};

            gpiof: gpio@4000a100 {
				compatible = "linkedsemi,ls-gpio";
				gpio-controller;
				#gpio-cells = <2>;
				reg = <0x4000a100 0x20>;
                status = "disabled";
			};

            gpiog: gpio@4000a120 {
				compatible = "linkedsemi,ls-gpio";
				gpio-controller;
				#gpio-cells = <2>;
				reg = <0x4000a120 0x20>;
                status = "disabled";
			};

            gpioh: gpio@4000a140 {
				compatible = "linkedsemi,ls-gpio";
				gpio-controller;
				#gpio-cells = <2>;
				reg = <0x4000a140 0x20>;
                status = "disabled";
			};
        };

        uart1: uart@40085000 {
            compatible = "linkedsemi-uart";
            reg = <0x40085000 0x400>;
			status = "disabled";
            // label = "UART1";
            interrupts = <51 3> ;
        };
        uart2: uart@40085400 {
            compatible = "linkedsemi-uart";
            reg = <0x40085400 0x400>;
			status = "disabled";
            // label = "UART1";
            interrupts = <52 3> ;
        };
        uart3: uart@40085800 {
            compatible = "linkedsemi-uart";
            reg = <0x40085800 0x400>;
			status = "disabled";
            // label = "UART1";
            interrupts = <53 3> ;
        };

        dwuart1: dwuart@40085C00 {
            compatible = "ns16550","snps,dw-apb-uart";
            reg = <0x40085C00 0x400>;
			status = "disabled";
            clock-frequency = <144000000>;
            // label = "DWUART1";
            interrupts = <54 3> ;
			reg-shift = <2>;
        };
        
        dwuart2: dwuart@40086000 {
            compatible = "ns16550","snps,dw-apb-uart";
            reg = <0x40086000 0x400>;
			status = "disabled";
            clock-frequency = <144000000>;
            // label = "DWUART2";
            interrupts = <55 3> ;
            reg-shift = <2>;
        };

        espi: espi@40004000 {
            compatible = "linkedsemi,ls-espi";
            reg = <0x40004000 0x400>;
            status = "disabled";
            interrupts = <27 3>;
        };

		spi1: spi@40087000 {
			compatible = "snps,designware-spi";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x40087000 0x400>;
			fifo-depth = <4>;
			interrupts = <56 3>;
			clock-frequency = <144000000>;
            max-xfer-size = <32>;
			status = "okay";
		};

        spi2: spi@40087400 {
            compatible = "linkedsemi,ls-spi";
            #address-cells = <1>;
			#size-cells = <0>;
			reg = <0x40087400 0x400>;
			interrupts = <57 3>;
            clock-frequency = <144000000>;
			status = "disabled";
        };

        
        spi3: spi@40087800 {
            compatible = "linkedsemi,ls-spi";
            #address-cells = <1>;
			#size-cells = <0>;
			reg = <0x40087800 0x400>;
			interrupts = <58 3>;
            clock-frequency = <144000000>;
			status = "disabled";
        };

        i2c1: i2c@40083000 {
            compatible = "linkedsemi,ls-i2c";
            reg = <0x40083000 0x400>;
            #address-cells = <1>;
			#size-cells = <0>;
            interrupts = <45 3>;
            status = "disabled";
        };

        i2c2: i2c@40083400 {
            compatible = "linkedsemi,ls-i2c";
            reg = <0x40083400 0x400>;
            #address-cells = <1>;
			#size-cells = <0>;
            interrupts = <46 3>;
            status = "disabled";
        };

		peci0: peci@4008f400 {
			compatible = "linkedsemi,ls-peci";
			reg = <0x4008f400 0x400>;
			#address-cells= <1>;
			#size-cells = <0>;
			interrupts = <75 3>;
            clocks = <&per_cctl LS_CCTL_CLKG3 LS_CLKG_SET_PECI_POS LS_CLKG_CLR_PECI_POS>;
			status = "disabled";
		};


        adc1: adc@40089000 {
            compatible = "linkedsemi-adc";
            reg = <0x40089000 0x400>;
            status = "disabled";
            // lable = "ADC1";
            interrupts = <60 3>;
        };

        adc2: adc@40089400 {
            compatible = "linkedsemi-adc";
            reg = <0x40089400 0x400>;
            status = "disabled";
            // lable = "ADC2";
            interrupts = <61 3>;
        };

        dac12: dac@4008d400 {
            compatible = "linkedsemi-dac";
            reg = <0x4008d400 0x400>;
            status = "disabled";
            // lable = "DAC12"
        };

    };
    power-states {
        idle: idle{
            compatible = "zephyr,power-state";
			power-state-name = "runtime-idle";
        };
        
        lp0: lp0 {
			compatible = "zephyr,power-state";
			power-state-name = "standby";
        };
    };
};
