#include <zephyr/dt-bindings/pinctrl/lsqsh-pinctrl.h>
#include <zephyr/dt-bindings/gpio/gpio.h>
#include <mem.h>

#include <zephyr/dt-bindings/memory-attr/memory-attr.h>
#include <zephyr/dt-bindings/memory-attr/memory-attr-riscv.h>
#include "../../../../modules/hal/linkedsemi/soc/rv32/qsh/reg_base_addr.h"
#include "../../../../modules/hal/linkedsemi/soc/rv32/qsh/qsh.h"

/ {
    #address-cells = <1>;
    #size-cells = <1>;

    cpus {
        #address-cells = <1>;
        #size-cells = <0>;
        cpu1: cpu@1 {
            device_type = "cpu";
            compatible = "linkedsemi,riscv";
            riscv,isa = "rv32imafcxp";
            reg = <1>;
        };
        cpu2: cpu@2 {
            device_type = "cpu";
            compatible = "linkedsemi,riscv";
            riscv,isa = "rv32imafcxp";
            reg = <2>;
            status = "disabled";
        };
    };

    sram1: memory@10000000 {
        compatible = "mmio-sram";
        reg = <0x10000000 DT_SIZE_K(512)>;  
    };

    sram2: memory@10080000{
        compatible = "mmio-sram";
        reg = <0x10080000 DT_SIZE_K(768)>;
    };

/*
    share_memory0: memory@1013f000{
        compatible = "mmio-sram";
        reg = <0x1013f000 0x1000>;
    };
*/

    soc {
        compatible = "simpe-bus";
        #address-cells = <1>;
        #size-cells = <1>;
        interrupt-parent = <&intc>;

        intc: interrupt-controller {
            compatible = "linkedsemi,riscv,e906-intc";
            #address-cells = <0>;
            #interrupt-cells = <2>;
            interrupt-controller;
        };

        dmac1: dmac@40041000 {
            compatible = "snps,designware-dma";
            reg = <0x40041000 0x1000>;
            #dma-cells = <1>;
            interrupts = <DMAC1_IRQN 3>;
            interrupt-parent = <&intc>;
            dma-channels = <8>;
            dma-buf-addr-alignment = <4>;
            status = "disabled";
        };

        dmac2: dmac@40042000 {
            compatible = "snps,designware-dma";
            reg = <0x40042000 0x1000>;
            #dma-cells = <1>;
            interrupts = <DMAC2_IRQN 3>;
            interrupt-parent = <&intc>;
            dma-channels = <8>;
            dma-buf-addr-alignment = <4>;
            status = "disabled";
        };

        qspi1: qspi@40000000 {
            compatible = "linkedsemi,ls-flash-controller";
            reg = <0x40000000 0x1000>;
            #address-cells = <1>;
            #size-cells = <1>;
            interrupts = <QSPI1_IRQN 3>;
            status = "disabled";

            flash1: flash@8000000 {
                compatible = "soc-nv-flash";
                reg = <0x8000000 0x400000>;
                erase-block-size = <4096>;
                write-block-size = <4>;
            };
        };
        
        per_cctl: clock-controller@4008d000 {
            compatible = "linkedsemi,ls-cctl";
            #clock-cells = <3>;
            reg = <0x4008d000 0x400>;
            status = "okay";
        };

        pinctrl: pin-controller@4002f080 {
            compatible = "linkedsemi,lsqsh-pinctrl";
            reg = <0x4002f080 0x200>;
            interrupts = <PMU_EXT_SEC_IRQN 3>, <PMU_EXT_APP_IRQN 3>;
            interrupt-names = "cpu1", "cpu2";
            #address-cells = <1>;
            #size-cells = <1>;

            gpioa: gpio@4002f180 {
                compatible = "linkedsemi,lsqsh-gpio";
                gpio-controller;
                #gpio-cells = <2>;
                reg = <0x4002f180 0x20>, <0x4002f360 0x8>;
                reg-names = "io_cfg", "io_val";
                status = "disabled";
            };

            gpiob: gpio@4006f1a0 {
                compatible = "linkedsemi,lsqsh-gpio";
                gpio-controller;
                #gpio-cells = <2>;
                reg = <0x4006f1a0 0x20>, <0x4006f368 0x8>;
                reg-names = "io_cfg", "io_val";
                status = "disabled";
            };

            gpioc: gpio@4002f1c0 {
                compatible = "linkedsemi,lsqsh-gpio";
                gpio-controller;
                #gpio-cells = <2>;
                reg = <0x4002f1c0 0x20>, <0x4002f370 0x8>;
                reg-names = "io_cfg", "io_val";
                status = "disabled";
            };

            gpiod: gpio@4006f1e0 {
                compatible = "linkedsemi,lsqsh-gpio";
                gpio-controller;
                #gpio-cells = <2>;
                reg = <0x4006f1e0 0x20>, <0x4006f378 0x8>;
                reg-names = "io_cfg", "io_val";
                status = "disabled";
            };

            gpioe: gpio@4002f200 {
                compatible = "linkedsemi,lsqsh-gpio";
                gpio-controller;
                #gpio-cells = <2>;
                reg = <0x4002f200 0x20>, <0x4002f380 0x8>;
                reg-names = "io_cfg", "io_val";
                status = "disabled";
            };

            gpiof: gpio@4006f220 {
                compatible = "linkedsemi,lsqsh-gpio";
                gpio-controller;
                #gpio-cells = <2>;
                reg = <0x4006f220 0x20>, <0x4006f388 0x8>;
                reg-names = "io_cfg", "io_val";
                status = "disabled";
            };

            gpiog: gpio@4006f240 {
                compatible = "linkedsemi,lsqsh-gpio";
                gpio-controller;
                #gpio-cells = <2>;
                reg = <0x4006f240 0x20>, <0x4006f390 0x8>;
                reg-names = "io_cfg", "io_val";
                status = "disabled";
            };

            gpioh: gpio@4006f260 {
                compatible = "linkedsemi,lsqsh-gpio";
                gpio-controller;
                #gpio-cells = <2>;
                reg = <0x4006f260 0x20>, <0x4006f398 0x8>;
                reg-names = "io_cfg", "io_val";
                status = "disabled";
            };

            gpioi: gpio@4002f280 {
                compatible = "linkedsemi,lsqsh-gpio";
                gpio-controller;
                #gpio-cells = <2>;
                reg = <0x4002f280 0x20>, <0x4002f3a0 0x8>;
                reg-names = "io_cfg", "io_val";
                status = "disabled";
            };

            gpioj: gpio@4006f2a0 {
                compatible = "linkedsemi,lsqsh-gpio";
                gpio-controller;
                #gpio-cells = <2>;
                reg = <0x4006f2a0 0x20>, <0x4006f3a8 0x8>;
                reg-names = "io_cfg", "io_val";
                status = "disabled";
            };

            gpiok: gpio@4002f2c0 {
                compatible = "linkedsemi,lsqsh-gpio";
                gpio-controller;
                #gpio-cells = <2>;
                reg = <0x4002f2c0 0x20>, <0x4002f3b0 0x8>;
                reg-names = "io_cfg", "io_val";
                status = "disabled";
            };

            gpiom: gpio@4006f2e0 {
                compatible = "linkedsemi,lsqsh-gpio";
                gpio-controller;
                #gpio-cells = <2>;
                reg = <0x4006f2e0 0x20>, <0x4006f3b8 0x8>;
                reg-names = "io_cfg", "io_val";
                status = "disabled";
            };

            gpion: gpio@4006f300 {
                compatible = "linkedsemi,lsqsh-gpio";
                gpio-controller;
                #gpio-cells = <2>;
                reg = <0x4006f300 0x20>, <0x4006f3c0 0x8>;
                reg-names = "io_cfg", "io_val";
                status = "disabled";
            };

            gpioq: gpio@4006f320 {
                compatible = "linkedsemi,lsqsh-gpio";
                gpio-controller;
                #gpio-cells = <2>;
                reg = <0x4006f320 0x20>, <0x4006f3c8 0x8>;
                reg-names = "io_cfg", "io_val";
                status = "disabled";
            };

            gpiot: gpio@4006f340 {
                compatible = "linkedsemi,lsqsh-gpio";
                gpio-controller;
                #gpio-cells = <2>;
                reg = <0x4006f340 0x20>, <0x4006f3d0 0x8>;
                reg-names = "io_cfg", "io_val";
                status = "disabled";
            };
        };

        sgpiom: sgpiom@40097000 {
            compatible = "linkedsemi,sgpiom";
            reg = <0x40097000 0x400>;
            interrupts = <151 3>;
            ngpios = <256>;
            linkedsemi,bus-freq = <1000000>;
            status = "disabled";

            sgpiom_a_d: sgpiom_a_d {
                #gpio-cells = <2>;
                gpio-controller;
                ngpios = <32>;
                #address-cells = <0>;
                interrupt-controller;
                #interrupt-cells = <2>;
                pin-offset = <0>;
                status = "disabled";
            };

            sgpiom_e_h: sgpiom_e_h {
                #gpio-cells = <2>;
                gpio-controller;
                ngpios = <32>;
                #address-cells = <0>;
                interrupt-controller;
                #interrupt-cells = <2>;
                pin-offset = <32>;
                status = "disabled";
            };

            sgpiom_i_l: sgpiom_i_l {
                #gpio-cells = <2>;
                gpio-controller;
                ngpios = <32>;
                #address-cells = <0>;
                interrupt-controller;
                #interrupt-cells = <2>;
                pin-offset = <64>;
                status = "disabled";
            };

            sgpiom_m_p: sgpiom_m_p {
                #gpio-cells = <2>;
                gpio-controller;
                ngpios = <32>;
                #address-cells = <0>;
                interrupt-controller;
                #interrupt-cells = <2>;
                pin-offset = <96>;
                status = "disabled";
            };
        };

        sgpiom2: sgpiom@40097400 {
            compatible = "linkedsemi,sgpiom";
            reg = <0x40097400 0x400>;
            interrupts = <152 3>;
            ngpios = <256>;
            linkedsemi,bus-freq = <1000000>;
            status = "disabled";

            sgpiom2_a_d: sgpiom2_a_d {
                #gpio-cells = <2>;
                gpio-controller;
                ngpios = <32>;
                #address-cells = <0>;
                interrupt-controller;
                #interrupt-cells = <2>;
                pin-offset = <0>;
                status = "disabled";
            };

            sgpiom2_e_h: sgpiom2_e_h {
                #gpio-cells = <2>;
                gpio-controller;
                ngpios = <32>;
                #address-cells = <0>;
                interrupt-controller;
                #interrupt-cells = <2>;
                pin-offset = <32>;
                status = "disabled";
            };

            sgpiom2_i_l: sgpiom2_i_l {
                #gpio-cells = <2>;
                gpio-controller;
                ngpios = <32>;
                #address-cells = <0>;
                interrupt-controller;
                #interrupt-cells = <2>;
                pin-offset = <64>;
                status = "disabled";
            };

            sgpiom2_m_p: sgpiom2_m_p {
                #gpio-cells = <2>;
                gpio-controller;
                ngpios = <32>;
                #address-cells = <0>;
                interrupt-controller;
                #interrupt-cells = <2>;
                pin-offset = <96>;
                status = "disabled";
            };
        };

        mtimer: machine-timer@e0004000 {
            compatible = "linkedsemi,machine-timer";
            reg = <0xe0004000 0x8000>;
            interrupts = <RV_TIME_IRQN 0>;
        };

        crypto: crypto@40028400 {
            compatible = "linkedsemi,crypto";
            reg = <0x40028400 0x400>,
                  <0x40028800 0x400>,
                  <0x40028C00 0x400>,
                  <0x40029000 0x400>;
            reg-names = "calc_sha", "calc_crc", "calc", "crypt";
            interrupts = <CALC_AES256_IRQN 3>,
                         <CALC_SHA256_IRQN 3>,
                         <OBTN_IRQN 3>,
                         <OTBN_SYSC_IRQN 3>;
            interrupt-names = "crypto", "sha", "otbn", "sysc_otbn";
            status = "disabled";
        };

        sm4:sm4@40029400 {
            compatible = "linkedsemi,sm4";
            reg = <0x40029400 0x400>;
            interrupts = <CALC_SM4_IRQN 3>;
            status = "disabled";
            clocks = <&per_cctl 0 0 0>; // TODO
        };

        espi1: espi@40045000 {
            compatible = "linkedsemi,ls-espi";
            reg = <0x40045000 0x1000>;
            interrupts = <ESPI1_IRQN 3>;
            status = "disabled";
        };

        espi2: espi@40046000 {
            compatible = "linkedsemi,ls-espi";
            reg = <0x40046000 0x1000>;
            interrupts = <ESPI2_IRQN 3>;
            status = "disabled";
        };

        lpc1: lpc@40047000 {
            compatible = "linkedsemi,ls-lpc";
            reg = <0x40047000 0x1000>;
            interrupts = <LPC1_IRQN 3>;
            status = "disabled";
        };

        lpc2: lpc@40048000 {
            compatible = "linkedsemi,ls-lpc";
            reg = <0x40048000 0x1000>;
            interrupts = <LPC2_IRQN 3>;
            status = "disabled";
        };

        ipmi_kcs: ipmi_kcs {
            compatible = "linkedsemi,ls-ipmi-kcs";
            status = "disabled";
        };

        i2c1: i2c@400a0000 {
            compatible = "linkedsemi,ls-i2c";
            reg = <0x400a0000 0x400>;
            #address-cells = <1>;
            #size-cells = <0>;
            interrupts = <I2C1_IRQN 3>;
            status = "disabled";
        };

        i2c2: i2c@40083400 {
            compatible = "linkedsemi,ls-i2c";
            reg = <0x40083400 0x400>;
            #address-cells = <1>;
            #size-cells = <0>;
            interrupts = <I2C2_IRQN 3>;
            status = "disabled";
        };

        i2c3: i2c@40083800 {
            compatible = "linkedsemi,ls-i2c";
            reg = <0x40083800 0x400>;
            #address-cells = <1>;
            #size-cells = <0>;
            interrupts = <I2C3_IRQN 3>;
            status = "disabled";
        };

        i2c4: i2c@40083c00 {
            compatible = "linkedsemi,ls-i2c";
            reg = <0x40083c00 0x400>;
            #address-cells = <1>;
            #size-cells = <0>;
            interrupts = <I2C4_IRQN 3>;
            status = "disabled";
        };

        i2c5: i2c@40084000 {
            compatible = "linkedsemi,ls-i2c";
            reg = <0x40084000 0x400>;
            #address-cells = <1>;
            #size-cells = <0>;
            interrupts = <I2C5_IRQN 3>;
            status = "disabled";
        };

        i2c6: i2c@40084400 {
            compatible = "linkedsemi,ls-i2c";
            reg = <0x40084400 0x400>;
            #address-cells = <1>;
            #size-cells = <0>;
            interrupts = <I2C6_IRQN 3>;
            status = "disabled";
        };

        i2c7: i2c@40084800 {
            compatible = "linkedsemi,ls-i2c";
            reg = <0x40084800 0x400>;
            #address-cells = <1>;
            #size-cells = <0>;
            interrupts = <I2C7_IRQN 3>;
            status = "disabled";
        };

        i2c8: i2c@40084C00 {
            compatible = "linkedsemi,ls-i2c";
            reg = <0x40084C00 0x400>;
            #address-cells = <1>;
            #size-cells = <0>;
            interrupts = <I2C8_IRQN 3>;
            status = "disabled";
        };

        i2c9: i2c@40085000 {
            compatible = "linkedsemi,ls-i2c";
            reg = <0x40085000 0x400>;
            #address-cells = <1>;
            #size-cells = <0>;
            interrupts = <I2C9_IRQN 3>;
            status = "disabled";
        };

        i2c10: i2c@40085400 {
            compatible = "linkedsemi,ls-i2c";
            reg = <0x40085400 0x400>;
            #address-cells = <1>;
            #size-cells = <0>;
            interrupts = <I2C10_IRQN 3>;
            status = "disabled";
        };

        i2c11: i2c@40085800 {
            compatible = "linkedsemi,ls-i2c";
            reg = <0x40085800 0x400>;
            #address-cells = <1>;
            #size-cells = <0>;
            interrupts = <I2C11_IRQN 3>;
            status = "disabled";
        };

        i2c12: i2c@40085C00 {
            compatible = "linkedsemi,ls-i2c";
            reg = <0x40085C00 0x400>;
            #address-cells = <1>;
            #size-cells = <0>;
            interrupts = <I2C12_IRQN 3>;
            status = "disabled";
        };

        i2c13: i2c@40086000 {
            compatible = "linkedsemi,ls-i2c";
            reg = <0x40086000 0x400>;
            #address-cells = <1>;
            #size-cells = <0>;
            interrupts = <I2C13_IRQN 3>;
            status = "disabled";
        };

        i2c14: i2c@40086400 {
            compatible = "linkedsemi,ls-i2c";
            reg = <0x40086400 0x400>;
            #address-cells = <1>;
            #size-cells = <0>;
            interrupts = <I2C14_IRQN 3>;
            status = "disabled";
        };

        i2c15: i2c@40086800 {
            compatible = "linkedsemi,ls-i2c";
            reg = <0x40086800 0x400>;
            #address-cells = <1>;
            #size-cells = <0>;
            interrupts = <I2C15_IRQN 3>;
            status = "disabled";
        };

        i2c16: i2c@40086c00 {
            compatible = "linkedsemi,ls-i2c";
            reg = <0x40086c00 0x400>;
            #address-cells = <1>;
            #size-cells = <0>;
            interrupts = <I2C16_IRQN 3>;
            status = "disabled";
        };

        smbus1: smbus1 {
            compatible = "linkedsemi,smbus";
            #address-cells = <1>;
            #size-cells = <0>;
            i2c = <&i2c1>;
            status = "disabled";
        };

        smbus2: smbus2 {
            compatible = "linkedsemi,smbus";
            #address-cells = <1>;
            #size-cells = <0>;
            i2c = <&i2c2>;
            status = "disabled";
        };

        smbus3: smbus3 {
            compatible = "linkedsemi,smbus";
            #address-cells = <1>;
            #size-cells = <0>;
            i2c = <&i2c3>;
            status = "disabled";
        };

        smbus4: smbus4 {
            compatible = "linkedsemi,smbus";
            #address-cells = <1>;
            #size-cells = <0>;
            i2c = <&i2c4>;
            status = "disabled";
        };

        smbus5: smbus5 {
            compatible = "linkedsemi,smbus";
            #address-cells = <1>;
            #size-cells = <0>;
            i2c = <&i2c5>;
            status = "disabled";
        };

        smbus6: smbus6 {
            compatible = "linkedsemi,smbus";
            #address-cells = <1>;
            #size-cells = <0>;
            i2c = <&i2c6>;
            status = "disabled";
        };

        smbus7: smbus7 {
            compatible = "linkedsemi,smbus";
            #address-cells = <1>;
            #size-cells = <0>;
            i2c = <&i2c7>;
            status = "disabled";
        };

        smbus8: smbus8 {
            compatible = "linkedsemi,smbus";
            #address-cells = <1>;
            #size-cells = <0>;
            i2c = <&i2c8>;
            status = "disabled";
        };

        smbus9: smbus9 {
            compatible = "linkedsemi,smbus";
            #address-cells = <1>;
            #size-cells = <0>;
            i2c = <&i2c9>;
            status = "disabled";
        };

        smbus10: smbus10 {
            compatible = "linkedsemi,smbus";
            #address-cells = <1>;
            #size-cells = <0>;
            i2c = <&i2c10>;
            status = "disabled";
        };

        smbus11: smbus11 {
            compatible = "linkedsemi,smbus";
            #address-cells = <1>;
            #size-cells = <0>;
            i2c = <&i2c11>;
            status = "disabled";
        };

        smbus12: smbus12 {
            compatible = "linkedsemi,smbus";
            #address-cells = <1>;
            #size-cells = <0>;
            i2c = <&i2c12>;
            status = "disabled";
        };

        smbus13: smbus13 {
            compatible = "linkedsemi,smbus";
            #address-cells = <1>;
            #size-cells = <0>;
            i2c = <&i2c13>;
            status = "disabled";
        };

        smbus14: smbus14 {
            compatible = "linkedsemi,smbus";
            #address-cells = <1>;
            #size-cells = <0>;
            i2c = <&i2c14>;
            status = "disabled";
        };

        smbus15: smbus15 {
            compatible = "linkedsemi,smbus";
            #address-cells = <1>;
            #size-cells = <0>;
            i2c = <&i2c15>;
            status = "disabled";
        };

        smbus16: smbus16 {
            compatible = "linkedsemi,smbus";
            #address-cells = <1>;
            #size-cells = <0>;
            i2c = <&i2c16>;
            status = "disabled";
        };

        uart1: uart@400a1000 {
            compatible = "linkedsemi,ls-uart";
            reg = <0x400a1000 0x400>;
            interrupts = <UART1_IRQN 3> ;
            status = "disabled";
        };
        uart2: uart@40087400 {
            compatible = "linkedsemi,ls-uart";
            reg = <0x40087400 0x400>;
            interrupts = <UART2_IRQN 3> ;
            status = "disabled";
        };

        uart3: uart@40087800 {
            compatible = "ns16550";
            reg = <0x40087800 0x400>;
            clock-frequency = <50000000>;
            interrupts = <UART3_IRQN 3> ;
            reg-shift = <2>;
            status = "disabled";
        };

        uart4: uart@40087c00 {
            compatible = "ns16550";
            reg = <0x40087c00 0x400>;
            clock-frequency = <50000000>;
            interrupts = <UART4_IRQN 3> ;
            reg-shift = <2>;
            status = "disabled";
        };

        uart5: uart@40088000 {
            compatible = "ns16550";
            reg = <0x40088000 0x400>;
            clock-frequency = <50000000>;
            interrupts = <UART5_IRQN 3> ;
            reg-shift = <2>;
            status = "disabled";
        };

        uart6: uart@40088400 {
            compatible = "ns16550";
            reg = <0x40088400 0x400>;
            clock-frequency = <50000000>;
            interrupts = <UART6_IRQN 3> ;
            reg-shift = <2>;
            status = "disabled";
        };

        uart7: uart@40088800 {
            compatible = "ns16550";
            reg = <0x40088800 0x400>;
            clock-frequency = <50000000>;
            interrupts = <UART7_IRQN 3> ;
            reg-shift = <2>;
            status = "disabled";
        };

        uart8: uart@40088c00 {
            compatible = "ns16550";
            reg = <0x40088c00 0x400>;
            clock-frequency = <50000000>;
            interrupts = <UART8_IRQN 3> ;
            reg-shift = <2>;
            status = "disabled";
        };

        uart9: uart@40089000 {
            compatible = "ns16550";
            reg = <0x40089000 0x400>;
            clock-frequency = <50000000>;
            interrupts = <UART9_IRQN 3> ;
            reg-shift = <2>;
            status = "disabled";
        };

        uart10: uart@40089400 {
            compatible = "ns16550";
            reg = <0x40089400 0x400>;
            clock-frequency = <50000000>;
            interrupts = <UART10_IRQN 3> ;
            reg-shift = <2>;
            status = "disabled";
        };

        uart11: uart@40089800 {
            compatible = "ns16550";
            reg = <0x40089800 0x400>;
            clock-frequency = <50000000>;
            interrupts = <UART11_IRQN 3> ;
            reg-shift = <2>;
            status = "disabled";
        };

        uart12: uart@40089c00 {
            compatible = "ns16550";
            reg = <0x40089c00 0x400>;
            clock-frequency = <50000000>;
            interrupts = <UART12_IRQN 3> ;
            reg-shift = <2>;
            status = "disabled";
        };

        mac1: ethernet@40064000 {
            compatible = "linkedsemi,ethernet", "snps,designware-ethernet";
            reg = <0x40064000 0x2000>;
            interrupts = <ETH1_IRQN 3>;
            status = "disabled";

            mdio1: mdio {
                compatible = "snps,dwmac-mdio";
                #address-cells = <1>;
                #size-cells = <0>;
                status = "disabled";
            };
        };

        mac2: ethernet@40066000 {
            compatible = "linkedsemi,ethernet", "snps,designware-ethernet";
            reg = <0x40066000 0x2000>;
            interrupts = <ETH2_IRQN 3>;
            status = "disabled";

            mdio2: mdio {
                compatible = "snps,dwmac-mdio";
                #address-cells = <1>;
                #size-cells = <0>;
                status = "disabled";
            };
        };

        spi1: spi@4008a000 {
            compatible = "linkedsemi,ls-spi";
            #address-cells = <1>;
            #size-cells = <0>;
            reg = <0x4008a000 0x400>;
            clock-frequency = <50000000>;
            interrupts = <SPI1_IRQN 3>;
            status = "disabled";
        };

        spi2: spi@4008a400 {
            compatible = "linkedsemi,ls-spi";
            #address-cells = <1>;
            #size-cells = <0>;
            reg = <0x4008a400 0x400>;
            clock-frequency = <50000000>;
            interrupts = <SPI2_IRQN 3>;
            status = "disabled";
        };

        spi3: spi@4006e000 {
            compatible = "snps,designware-spi";
            #address-cells = <1>;
            #size-cells = <0>;
            reg = <0x4006e000 0x400>;
            clock-frequency = <50000000>;
            interrupts = <SPI3_IRQN 3>;
            fifo-depth = <4>;
            max-xfer-size = <32>;
            status = "disabled";
        };

        spi4: spi@4006e400 {
            compatible = "snps,designware-spi";
            #address-cells = <1>;
            #size-cells = <0>;
            reg = <0x4006e400 0x400>;
            interrupts = <SPI4_IRQN 3>;
            fifo-depth = <4>;
            max-xfer-size = <32>;
            status = "disabled";
        };

        peci1: peci@4008d800 {
            compatible = "linkedsemi,ls-peci";
            reg = <0x4008d800 0x400>;
            #address-cells= <1>;
            #size-cells = <0>;
            interrupts = <PECI1_IRQN 3>;
            status = "disabled";
        };

        peci2: peci@4008dc00 {
            compatible = "linkedsemi,ls-peci";
            reg = <0x4008dc00 0x400>;
            #address-cells= <1>;
            #size-cells = <0>;
            interrupts = <PECI2_IRQN 3>;
            status = "disabled";
        };

        sdhci1: sdhci@40049000 {
            compatible = "linkedsemi,sdhci";
            reg = <0x40049000 0x1000>;
            interrupts = <EMMC1_IRQN 3>;
            max-bus-freq = <5000000>;
            min-bus-freq = <200000>;
            status = "disabled";
        };

        sdhci2: sdhci@4004a000 {
            compatible = "linkedsemi,sdhci";
            reg = <0x4004a000 0x1000>;
            interrupts = <EMMC2_IRQN 3>;
            max-bus-freq = <5000000>;
            min-bus-freq = <200000>;
            status = "disabled";
        };

        jtag1: jtag@40092000 {
            compatible = "linkedsemi,ls-jtag";
            reg = <0x40092000 0x400>;
            interrupts = <MJTAG1_IRQN 3>;
            status = "disabled";
        };

        jtag2: jtag@40092400 {
            compatible = "linkedsemi,ls-jtag";
            reg = <0x40092400 0x400>;
            interrupts = <MJTAG2_IRQN 3>;
            status = "disabled";
        };

        jtag3: jtag@40092800 {
            compatible = "linkedsemi,ls-jtag";
            reg = <0x40092800 0x400>;
            interrupts = <MJTAG3_IRQN 3>;
            status = "disabled";
        };

        i3c9: i3c@40095000 {
            compatible = "linkedsemi,i3c";
            #address-cells = <3>;
            #size-cells = <0>;
            reg = <0x40095000 0x2000>;
            interrupts = <120 3>;
            status = "disabled";
            i3c-scl-hz = <1000000>;
        };

        i3c10: i3c@40095400 {
            compatible = "linkedsemi,i3c";
            #address-cells = <3>;
            #size-cells = <0>;
            reg = <0x40095400 0x2000>;
            interrupts = <121 3>;
            status = "disabled";
            i3c-scl-hz = <1000000>;
        };
    };

    power-states {
        idle: idle{
            compatible = "zephyr,power-state";
            power-state-name = "runtime-idle";
        };

        lp0: lp0 {
            compatible = "zephyr,power-state";
            power-state-name = "standby";
        };
    };
};

#include "lsqsh_pinctrl_fixed_pinmap.dtsi"
