# Copyright (c) 2023 Linkedsemi
# SPDX-License-Identifier: Apache-2.0


CONFIG_SOC_SERIES_LS101X=y
CONFIG_SOC_LS1010=y
CONFIG_BOARD_LS101X_EVB=y
CONFIG_FPU=y
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=144000000

CONFIG_MINIMAL_LIBC=y
CONFIG_MINIMAL_LIBC_RAND=y
CONFIG_RISCV_SOC_INTERRUPT_INIT=y
CONFIG_MAIN_STACK_SIZE=2048
CONFIG_RISCV_TRAP_HANDLER_ALIGNMENT=64
CONFIG_ISR_STACK_SIZE=4096
# CONFIG_RISCV_ALWAYS_SWITCH_THROUGH_ECALL=y
# CONFIG_PINCTRL=y
# CONFIG_GPIO=y
CONFIG_SERIAL=y
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

# CONFIG_I2C_LE501X_INTERRUPT=n

# Power Management
# CONFIG_PM=y
# CONFIG_PM_DEVICE=y
# CONFIG_PM_POLICY_CUSTOM=y
