/*
 * Copyright (c) 2021, Teslabs Engineering S.L.
 * SPDX-License-Identifier: Apache-2.0
 */

// #include <gigadevice/gd32vf103Xb.dtsi>
// #include "gd32vf103v_eval-pinctrl.dtsi"
/dts-v1/;
#include <riscv/linkedsemi/ls101x.dtsi>
#include "ls101x_evb-pinctrl.dtsi"
#include <zephyr/dt-bindings/pinctrl/ls101x-pinctrl.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/i2c/i2c.h>

#define BTN_GPIO_FLAGS (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)

/ {
	model = "linkedsemi LS101X_EVB";
	compatible = "linkedsemi,ls101x_evb";

	chosen {
		zephyr,flash = &flash0;
		zephyr,sram = &sram0;
		zephyr,console = &uart3;
	};

    aliases {
		led0 = &led0;
		sw0 = &btn0;
	};

	leds{
		compatible = "gpio-leds";
		led0: led_0{
			gpios = <&gpioa 0 GPIO_ACTIVE_HIGH>;
			label = "Red LED";
		};
	};

	keys {
		compatible = "gpio-keys";
		btn0: btn_0{
			gpios = <&gpiob 7 BTN_GPIO_FLAGS>;
			label = "Push button 1";
		};
	};
};

&flash0 {

    /*
	* Flash base address is 0x8000000,
    * the following parts are all offset addresses.
	*/

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "info-sbl";
			reg = <0x00000000 0x00000800>;
		};
	
        app_partition: partition@800 {
			label = "app";
			reg = <0x00000800 0x0007c800>;
		};

		/*
		 * The flash starting at 0x807d000 and ending at
		 * 0x807FFFF is reserved for use by the application.
		 */

		/*
		 * Storage partition will be used by FCB/LittleFS/NVS
		 * if enabled.
		 */
		storage_partition: partition@7d000 {
			label = "storage";
			reg = <0x0007d000 0x00003000>;
		};
	};
};

&cpu0 {
	clock-frequency = <144000000>;
	cpu-power-states = <&idle &lp0>;
};

&uart1 {
	status = "disabled";
	pinctrl-0 = <&uart1_tx_pb00 &uart1_rx_pb01>;
	pinctrl-names = "default";
	current-speed = <921600>;
};
&uart2 {
	status = "disabled";
	pinctrl-0 = <&uart2_tx_pb02 &uart2_rx_pb03 >;
	pinctrl-names = "default";
	current-speed = <921600>;
};
&uart3 {
	status = "okay";
	pinctrl-0 = <&uart3_tx_ph05 &uart3_rx_ph04>;
	pinctrl-names = "default";
	current-speed = <115200>;
};

&dwuart1 {
	status = "disabled";
	pinctrl-0 = <&dwuart1_tx_pb06 &dwuart1_rx_pb07>;
	pinctrl-names = "default";
	current-speed = <921600>;
};

&dwuart2 {
	status = "disabled";
	pinctrl-0 = <&dwuart2_tx_pb08 &dwuart2_rx_pb09>;
	pinctrl-names = "default";
	current-speed = <921600>;
};

&adc1 {
	status = "disabled";
	pinctrl-0 = <&adc1_in5_pa14>;
	pinctrl-names = "default";
};

&adc2 {
	status = "disabled";
	pinctrl-0 = <&adc2_in5_ph13>;
	// pinctrl-0 = <&amic_pa00>;
	pinctrl-names = "default";
};

&dac12 {
	status = "disabled";
	pinctrl-0 = <&dac1_out1_pa02>;
	pinctrl-names = "default";
};

&spi1 {
	status = "okay";
	pinctrl-0 = <&spi1_sck_pe00
	&spi1_mosi_pe02 &spi1_miso_pe03>;
	pinctrl-names = "default";

	cs-gpios = <&gpioe 1 GPIO_ACTIVE_LOW>;
};

&spi2 {
	status = "disabled";
	pinctrl-0 = <&spi2_sck_pb12
	&spi2_mosi_pb14 &spi2_miso_pb15>;
	pinctrl-names = "default";

	cs-gpios = <&gpiob 13 GPIO_ACTIVE_LOW>;
};

&spi3 {
	status = "disabled";
	pinctrl-0 = <&spi3_sck_pa12
	&spi3_mosi_pa14 &spi3_miso_pa15>;
	pinctrl-names = "default";

	cs-gpios = <&gpioa 13 GPIO_ACTIVE_LOW>;
};

&i2c1 {
	status = "okay";
	pinctrl-0 = <&i2c1_scl_pa08 &i2c1_sda_pa09>;
	pinctrl-names = "default";
};

&i2c2 {
	status = "okay";
	pinctrl-0 = <&i2c2_scl_pa10 &i2c2_sda_pa11>;
	pinctrl-names = "default";
};

&i2c1 {
	eeprom1: eeprom@50 {
		compatible = "zephyr,i2c-target-eeprom";
		reg = <0x50>;
		size = <256>;
	};
};

&i2c2 {
	eeprom2: eeprom@50 {
		compatible = "zephyr,i2c-target-eeprom";
		reg = <0x50>;
		size = <256>;
	};
};

&espi {
	status = "okay";
};

&gpioa {
	status = "okay";
};

&gpiob {
	status = "okay";
};

&gpioc {
	status = "okay";
};

&gpiod {
	status = "okay";
};

&gpioe {
	status = "okay";
};

&gpiof {
	status = "okay";
};

&gpiog {
	status = "okay";
};

&gpioh {
	status = "okay";
};

