
if BOARD_LE501X_EVB

config BOARD
	default "le501x_evb"

config FLASH_LOAD_OFFSET
	default 0x2000

config HEAP_MEM_POOL_SIZE
	default 6144

config BT_COMPANY_ID
	default 0x093A if BT

if SPI_DW

config SPI_DW_ACCESS_WORD_ONLY
	default y
    
endif # SPI_DW

endif
