# Copyright (c) 2023 Linkedsemi
# SPDX-License-Identifier: Apache-2.0


CONFIG_MINIMAL_LIBC=y
CONFIG_MINIMAL_LIBC_RAND=y
CONFIG_MAIN_STACK_SIZE=2048
CONFIG_ISR_STACK_SIZE=4096

CONFIG_PINCTRL=n
CONFIG_GPIO=y

CONFIG_SERIAL=y
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

CONFIG_SPI=n
CONFIG_I2C=y
CONFIG_XIP=n

CONFIG_MBOX=y
CONFIG_MBOX_LINKEDSEMI=y
