# Copyright (c) 2021 Teslabs Engineering S.L.
# SPDX-License-Identifier: Apache-2.0

if BOARD_LSQSH_EVB

config BOARD
	default "lsqsh_evb"

config FLASH_LOAD_OFFSET
	default 0x0

config HEAP_MEM_POOL_SIZE
	default 4096

if SPI

config SPI_DW
	default y

endif # SPI

if SPI_DW

config SPI_DW_ACCESS_WORD_ONLY
	default y

endif # SPI_DW

endif
