/*
 * Copyright (c) 2025 linkedsemi
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/pinctrl/lsqsh-pinctrl.h>

&pinctrl {
    /* UART */
    /omit-if-no-ref/uart1_tx_pn04: uart1_tx_pn04 {
        pinmux = <UART1_TXD_FUNC1_IDX16_PINMUX_PN(04)>;
        drive-strength = "quarter max driver";
    };
    /omit-if-no-ref/uart1_rx_pn03: uart1_rx_pn03 {
        pinmux = <UART1_RXD_FUNC1_IDX17_PINMUX_PN(03)>;
        drive-strength = "quarter max driver";
        input-enable;
    };

    /omit-if-no-ref/uart3_tx_pn04: uart3_tx_pn04 {
        pinmux = <UART3_TXD_FUNC1_IDX20_PINMUX_PN(04)>;
        drive-strength = "quarter max driver";
    };
    /omit-if-no-ref/uart3_rx_pn03: uart3_rx_pn03 {
        pinmux = <UART3_RXD_FUNC1_IDX21_PINMUX_PN(03)>;
        drive-strength = "quarter max driver";
        input-enable;
    };

    /omit-if-no-ref/uart4_tx_pd11: uart4_tx_pd11 {
        pinmux = <UART4_TXD_FUNC1_IDX09_PINMUX_PD(11)>;
        drive-strength = "quarter max driver";
    };
    /omit-if-no-ref/uart4_rx_pd12: uart4_rx_pd12 {
        pinmux = <UART4_RXD_FUNC1_IDX10_PINMUX_PD(12)>;
        drive-strength = "quarter max driver";
        input-enable;
    };

    /omit-if-no-ref/uart5_tx_pe00: uart5_tx_pe00 {
        pinmux = <UART5_TXD_FUNC1_IDX09_PINMUX_PE(00)>;
        drive-strength = "quarter max driver";
    };
    /omit-if-no-ref/uart5_rx_pe01: uart5_rx_pe01 {
        pinmux = <UART5_RXD_FUNC1_IDX10_PINMUX_PE(01)>;
        drive-strength = "quarter max driver";
        input-enable;
    };

    /omit-if-no-ref/uart6_tx_pf10: uart6_tx_pf10 {
        pinmux = <UART6_TXD_FUNC1_IDX08_PINMUX_PF(10)>;
        drive-strength = "quarter max driver";
    };
    /omit-if-no-ref/uart6_rx_pf02: uart6_rx_pf02 {
        pinmux = <UART6_RXD_FUNC1_IDX09_PINMUX_PF(02)>;
        drive-strength = "quarter max driver";
        input-enable;
    };

    /omit-if-no-ref/uart7_tx_pg13: uart7_tx_pg13 {
        pinmux = <UART7_TXD_FUNC1_IDX13_PINMUX_PG(13)>;
        drive-strength = "quarter max driver";
    };
    /omit-if-no-ref/uart7_rx_pg15: uart7_rx_pg15 {
        pinmux = <UART7_RXD_FUNC1_IDX14_PINMUX_PG(15)>;
        drive-strength = "quarter max driver";
        input-enable;
    };

    // /* I2C */
    DEFINE_PINCTRL_PRODUCER_I2C(I2C2, PB00, PB01, I2C2_SCL_FUNC1_IDX10_PINMUX_PB(00), I2C2_SDA_FUNC1_IDX11_PINMUX_PB(01))
    DEFINE_PINCTRL_PRODUCER_I2C(I2C5, PE01, PE06, I2C5_SCL_FUNC1_IDX06_PINMUX_PE(01), I2C5_SDA_FUNC1_IDX07_PINMUX_PE(06))
    DEFINE_PINCTRL_PRODUCER_I2C(I2C6, PF07, PF08, I2C6_SCL_FUNC1_IDX05_PINMUX_PF(07), I2C6_SDA_FUNC1_IDX06_PINMUX_PF(08))
    DEFINE_PINCTRL_PRODUCER_I2C(I2C7, PG11, PG10, I2C7_SCL_FUNC1_IDX10_PINMUX_PG(11), I2C7_SDA_FUNC1_IDX11_PINMUX_PG(10))
    DEFINE_PINCTRL_PRODUCER_I2C(I2C8, PH05, PH07, I2C8_SCL_FUNC1_IDX10_PINMUX_PH(05), I2C8_SDA_FUNC1_IDX11_PINMUX_PH(07))
    DEFINE_PINCTRL_PRODUCER_I2C(I2C9, PI02, PI03, I2C9_SCL_FUNC1_IDX06_PINMUX_PI(02), I2C9_SDA_FUNC1_IDX07_PINMUX_PI(03))
    DEFINE_PINCTRL_PRODUCER_I2C(I2C10, PJ06, PJ07, I2C10_SCL_FUNC1_IDX06_PINMUX_PJ(06), I2C10_SDA_FUNC1_IDX07_PINMUX_PJ(07))
    DEFINE_PINCTRL_PRODUCER_I2C(I2C11, PK15, PK01, I2C11_SCL_FUNC1_IDX06_PINMUX_PK(15), I2C11_SDA_FUNC1_IDX07_PINMUX_PK(01))
    DEFINE_PINCTRL_PRODUCER_I2C(I2C12, PM14, PM15, I2C12_SCL_FUNC1_IDX05_PINMUX_PM(14), I2C12_SDA_FUNC1_IDX06_PINMUX_PM(15))
    DEFINE_PINCTRL_PRODUCER_I2C(I2C13, PN14, PN06, I2C13_SCL_FUNC1_IDX10_PINMUX_PN(14), I2C13_SDA_FUNC1_IDX11_PINMUX_PN(06))
    DEFINE_PINCTRL_PRODUCER_I2C(I2C14, PN13, PN00, I2C14_SCL_FUNC1_IDX13_PINMUX_PN(13), I2C14_SDA_FUNC1_IDX14_PINMUX_PN(00))
    DEFINE_PINCTRL_PRODUCER_I2C(I2C15, PQ14, PQ15, I2C15_SCL_FUNC1_IDX10_PINMUX_PQ(14), I2C15_SDA_FUNC1_IDX11_PINMUX_PQ(15))
    DEFINE_PINCTRL_PRODUCER_I2C(I2C16, PQ12, PQ11, I2C16_SCL_FUNC1_IDX13_PINMUX_PQ(12), I2C16_SDA_FUNC1_IDX14_PINMUX_PQ(11))

    /omit-if-no-ref/spi1_clk_pa02: spi1_clk_pa02 {
        pinmux = <SPI1_SCK_FUNC1_IDX18_PINMUX_PA(02)>;
        drive-strength = "quarter max driver";
    };
    /omit-if-no-ref/spi1_miso_pa01: spi1_miso_pa01 {
        pinmux = <SPI1_MISO_FUNC1_IDX21_PINMUX_PA(01)>;
        drive-strength = "quarter max driver";
        input-enable;
    };
    /omit-if-no-ref/spi1_mosi_pa04: spi1_mosi_pa04 {
        pinmux = <SPI1_MOSI_FUNC1_IDX20_PINMUX_PA(04)>;
        drive-strength = "quarter max driver";
    };

    /omit-if-no-ref/spi4_mst_clk_pq00: spi4_mst_clk_pq00 {
        pinmux = <SPI4_SCK_FUNC4_PQ00_PINMUX>;
        drive-strength = "quarter max driver";
    };
    /omit-if-no-ref/spi4_mst_io0_pq03: spi4_mst_io0_pq03 {
        pinmux = <SPI4_DAT0_FUNC4_PQ03_PINMUX>;
        drive-strength = "quarter max driver";
        input-enable;
    };
    /omit-if-no-ref/spi4_mst_io1_pq04: spi4_mst_io1_pq04 {
        pinmux = <SPI4_DAT1_FUNC4_PQ04_PINMUX>;
        drive-strength = "quarter max driver";
        input-enable;
    };
    /omit-if-no-ref/spi4_mst_io2_pq05: spi4_mst_io2_pq05 {
        pinmux = <SPI4_DAT2_FUNC4_PQ05_PINMUX>;
        drive-strength = "quarter max driver";
        input-enable;
    };
    /omit-if-no-ref/spi4_mst_io3_pq06: spi4_mst_io3_pq06 {
        pinmux = <SPI4_DAT3_FUNC4_PQ06_PINMUX>;
        drive-strength = "quarter max driver";
        input-enable;
    };
};

&uart1 {
    pinctrl-0 = <&uart1_tx_pn04 &uart1_rx_pn03>;
    pinctrl-names = "default";
};

&uart3 {
    pinctrl-0 = <&uart3_tx_pn04 &uart3_rx_pn03>;
    pinctrl-names = "default";
};

&uart4 {
    pinctrl-0 = <&uart4_tx_pd11 &uart4_rx_pd12>;
    pinctrl-names = "default";
};

&uart6 {
    pinctrl-0 = <&uart6_tx_pf10 &uart6_rx_pf02>;
    pinctrl-names = "default";
};

&uart7 {
    pinctrl-0 = <&uart7_tx_pg13 &uart7_rx_pg15>;
    pinctrl-names = "default";
};

&i2c2 {
    DEFINE_PINCTRL_CONSUMER_I2C(I2C2, PB00, PB01, gpiob, 0, gpiob, 1)
};

&i2c5 {
    DEFINE_PINCTRL_CONSUMER_I2C(I2C5, PE01, PE06, gpioe, 1, gpioe, 6)
};

&i2c6 {
    DEFINE_PINCTRL_CONSUMER_I2C(I2C6, PF07, PF08, gpiof, 7, gpiof, 8)
};

&i2c7 {
    DEFINE_PINCTRL_CONSUMER_I2C(I2C7, PG11, PG10, gpiog, 11, gpiog, 10)
};

&i2c8 {
    DEFINE_PINCTRL_CONSUMER_I2C(I2C8, PH05, PH07, gpioh, 5, gpioh, 7)
};

&i2c9 {
    DEFINE_PINCTRL_CONSUMER_I2C(I2C9, PI02, PI03, gpioi, 2, gpioi, 3)
};

&i2c10 {
    DEFINE_PINCTRL_CONSUMER_I2C(I2C10, PJ06, PJ07, gpioj, 6, gpioj, 7)
};

&i2c11 {
    DEFINE_PINCTRL_CONSUMER_I2C(I2C11, PK15, PK01, gpiok, 15, gpiok, 1)
};

&i2c12 {
    DEFINE_PINCTRL_CONSUMER_I2C(I2C12, PM14, PM15, gpiom, 14, gpiom, 15)
};

&i2c13 {
    DEFINE_PINCTRL_CONSUMER_I2C(I2C13, PN14, PN06, gpion, 14, gpion, 6)
};

&i2c14 {
    DEFINE_PINCTRL_CONSUMER_I2C(I2C14, PN13, PN00, gpion, 13, gpion, 0)
};

&i2c15 {
    DEFINE_PINCTRL_CONSUMER_I2C(I2C15, PQ14, PQ15, gpioq, 14, gpioq, 15)
};

&i2c16 {
    DEFINE_PINCTRL_CONSUMER_I2C(I2C16, PQ12, PQ11, gpioq, 12, gpioq, 11)
};

&spi1 {
    pinctrl-0 = <&spi1_clk_pa02 &spi1_miso_pa01 &spi1_mosi_pa04>;
    pinctrl-names = "default";
};

&spi4 {
    cs-gpios = <&gpioq 0 GPIO_ACTIVE_LOW>;
    pinctrl-0 = <
        &spi4_mst_clk_pq00
        &spi4_mst_io0_pq03
        &spi4_mst_io1_pq04
        // &spi4_mst_io2_pq05
        // &spi4_mst_io3_pq06
    >;
    pinctrl-names = "default";
};
