# Copyright (c) 2025 linkedsemi
# SPDX-License-Identifier: Apache-2.0

CONFIG_MINIMAL_LIBC=y

# CONFIG_BOOT_BANNER=n
# CONFIG_COMPILER_OPT="-O0"

# CONFIG_NUM_USE_CPU=2
# CONFIG_NUM_OS=2
# CONFIG_CPU2_BOOT_ADDR=0x10000000
# CONFIG_BOOT_CPU2=y


CONFIG_IPI_OPTIMIZE=y
CONFIG_RISCV_PMP=n
CONFIG_SMP=y
CONFIG_PM_CPU_OPS=y
CONFIG_SCHED_CPU_MASK=y
CONFIG_FLASH_OP_DELEGATION_SERVER=n
CONFIG_XIP=n