/*
 * Copyright (c) 2025 linkedsemi
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <riscv/linkedsemi/lsqsh.dtsi>
#include "lsqsh_evb_pinctrl.dtsi"

#define BTN_GPIO_FLAGS (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)

/ {
    model = "linkedsemi LSQSH_EVB";
    compatible = "linkedsemi,lsqsh_app_evb";

    chosen {
        zephyr,sram = &sram2;
        zephyr,console = &uart4;
        zephyr,shell-uart = &uart4;
        zephyr,flash-controller = &qspi1;
        zephyr,internal-flash = &flash1;
    };

    aliases {
        sdhc0 = &sdhci1;
    };

    soc {
        compatible = "simpe-bus";
        #address-cells = <1>;
        #size-cells = <1>;
        interrupt-parent = <&intc>;

        share_memory: share-memory@1013e000 {
            compatible = "zephyr,memory-region", "mmio-sram";
            reg = <0x1013e000 DT_SIZE_K(4)>;
            zephyr,memory-region = "SHMEM";
        };

        mbox: mbox@1013f000 {
            compatible = "linkedsemi,mbox";
            reg = <0x1013f000 DT_SIZE_K(4)>;
            fifo-deepth = <2>;
            fifo-width = <256>;
            #mbox-cells = <1>;

            interrupts = <SYSC_APP_CPU_IRQN 3>;

            mbox_consumer_qspi1: mbox-consumer_qspi1 {
                compatible = "vnd,mbox-consumer";
                mboxes = <&mbox 0>, <&mbox 1>;
                mbox-names = "tx", "rx";
            };
        };

        qspi1: flash-client@40000000 {
            compatible = "linkedsemi,ls-flash-delegation-client";
            reg = <0x40000000 0x400>;
            #address-cells = <1>;
            #size-cells = <1>;
            interrupts = <3 3>;
            mbox = <&mbox_consumer_qspi1>;

            flash1: flash@8000000 {
                compatible = "soc-nv-flash";
                reg = <0x8000000 DT_SIZE_M(32)>;
                erase-block-size = <4096>;
                write-block-size = <4>;
            };
            partitions {
                compatible = "fixed-partitions";
                #address-cells = <1>;
                #size-cells = <1>;

                /* sbl */
                sbl_partition: partition@0 {
                    label = "sbl";
                    reg = <0x0 DT_SIZE_K(56)>;
                };
                sbl_env_partition: partition@e000 {
                    label = "sbl_env";
                    reg = <0x0000e000 DT_SIZE_K(8)>;
                };

                /* a */
                a_sec_image_partition: partition@10000 {
                    label = "a_sec_image";
                    reg = <0x00010000 (DT_SIZE_M(1) - DT_SIZE_K(64))>;
                };
                a_app_image_partition: partition@100000 {
                    label = "a_app_image";
                    reg = <0x00100000 DT_SIZE_M(12)>;
                };
                a_rofs_partition: partition@d00000 {
                    label = "a_rofs";
                    reg = <0x00d00000 DT_SIZE_M(2)>;
                };

                /* common */
                rwfs_partition: partition@f00000 {
                    label = "rwfs";
                    reg = <0x00f00000 (DT_SIZE_M(2) + DT_SIZE_K(64))>;
                };

                /* b */
                b_sec_image_partition: partition@1110000 {
                    label = "b_sec_image";
                    reg = <0x01110000 (DT_SIZE_M(1) - DT_SIZE_K(64))>;
                };
                b_app_image_partition: partition@1200000 {
                    label = "b_app_image";
                    reg = <0x01200000 DT_SIZE_M(12)>;
                };
                b_rofs_partition: partition@1e00000 {
                    label = "b_rofs";
                    reg = <0x01e00000 DT_SIZE_M(2)>;
                };
            };
        };
    };
};

&cpu1 {
    status = "disabled";
};

&cpu2 {
    status = "okay";
};

&sram1 {
    status = "disabled";
};

&sram2 {
    reg = <0x10080000 DT_SIZE_K(760)>;
};

&uart1 {
    current-speed = <115200>;
    status = "disabled";
};

&uart2 {
    current-speed = <115200>;
    status = "disabled";
};

&uart3 {
    current-speed = <115200>;
    status = "disabled";
};

&uart4 {
    current-speed = <115200>;
    status = "okay";
};

&uart5 {
    current-speed = <115200>;
    status = "disabled";
};

&psram {
    status = "okay";
};

&gpioa {
    status = "okay";
};

&gpiob {
    status = "okay";
};

&gpioc {
    status = "okay";
};

&gpiod {
    status = "okay";
};

&gpioe {
    status = "okay";
};

&gpiof {
    status = "okay";
};

&gpiog {
    status = "okay";
};

&gpioh {
    status = "okay";
};

&gpioi {
    status = "okay";
};

&gpioj {
    status = "okay";
};

&gpiok {
    status = "okay";
};

&gpiom {
    status = "okay";
};

&gpion {
    status = "okay";
};

&gpioq {
    status = "okay";
};

&gpiot {
    status = "okay";
};

&eth1 {
    status = "okay";
};

&mdio1 {
    status = "okay";
};

&sdhci1 {
    status = "okay";

    mmc_disk1: disk {
        compatible = "zephyr,mmc-disk";
        /* samples/subsys/fs/fs_sample/ assert disk-name to SD2 */
        disk-name = "SD2";
        bus-width = <1>;
        status = "okay";
    };
};
