/*
 * Copyright (c) 2025 linkedsemi
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <riscv/linkedsemi/lsqsh.dtsi>

#define BTN_GPIO_FLAGS (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)

/ {
    model = "linkedsemi LSQSH_EVB";
    compatible = "linkedsemi,lsqsh_app_evb";

    chosen {
        zephyr,sram = &sram2;
        zephyr,console = &uart4;
        zephyr,shell-uart = &uart4;
    };

    aliases {
        sdhc0 = &sdhci1;
    };

    soc {
        compatible = "simpe-bus";
        #address-cells = <1>;
        #size-cells = <1>;
        interrupt-parent = <&intc>;

        mbox: mbox@1013f000 {
            compatible = "linkedsemi,mbox";
            reg = <0x1013f000 DT_SIZE_K(4)>;
            interrupts = <26 3>;
            nchannels = <3>;
            fifo-deepth = <2>;
            fifo-width = <256>;
            #mbox-cells = <1>;
        };
    };

    mbox_consumer1: mbox-consumer1 {
        compatible = "vnd,mbox-consumer";
        mboxes = <&mbox 0>, <&mbox 1>;
        mbox-names = "tx", "rx";
    };

    mbox_consumer2: mbox-consumer2 {
        compatible = "vnd,mbox-consumer";
        mboxes = <&mbox 2>, <&mbox 3>;
        mbox-names = "tx", "rx";
    };

    /* func call */
    mbox_consumer3: mbox-consumer3 {
        compatible = "vnd,mbox-consumer";
        mboxes = <&mbox 4>, <&mbox 5>;
        mbox-names = "tx", "rx";
    };
};

&cpu1 {
    status = "disabled";
};

&cpu2 {
    clock-frequency = <50000000>;
    cpu-power-states = <&idle &lp0>;
    status = "okay";
};

&sram1 {
    status = "disabled";
};

&sram2 {
    reg = <0x10080000 DT_SIZE_K(764)>;
};

&gpioa {
    status = "okay";
};

&gpiob {
    status = "okay";
};

&gpioc {
    status = "okay";
};

&gpiod {
    status = "okay";
};

&gpioe {
    status = "okay";
};

&gpiof {
    status = "okay";
};

&gpiog {
    status = "okay";
};

&gpioh {
    status = "okay";
};

&gpioi {
    status = "okay";
};

&gpioj {
    status = "okay";
};

&gpiok {
    status = "okay";
};

&gpiom {
    status = "okay";
};

&gpion {
    status = "okay";
};

&gpioq {
    status = "okay";
};

&gpiot {
    status = "okay";
};

&mac1 {
    status = "okay";
};

&mdio1 {
    status = "okay";
};

&sdhci1 {
    status = "okay";

    mmc_disk1: disk {
        compatible = "zephyr,mmc-disk";
        disk-name = "SD";
        bus-width = <1>;
        status = "okay";
    };
};
