/*
 * Copyright (c) 2025 linkedsemi
 * SPDX-License-Identifier: Apache-2.0
 */

#include "lsqsh_evb_pinctrl.dtsi"

/ {
    chosen {
        zephyr,flash = &flash1;
        zephyr,flash-controller = &qspi1;
        zephyr,sram = &sram1;
        zephyr,console = &uart1;
        zephyr,shell-uart = &uart1;
    };

    aliases {
        // testi2c1 = &i2c5;
        // testi2c2 = &i2c12;
        // testeeprom1 = &eeprom5;
        // testeeprom2 = &eeprom12;
        testjtag2 = &jtag2;
        peci-0 = &peci1;
        sdhc0 = &sdhci1;
        led0 = &led0;
        led1 = &led1;
        led2 = &led2;
        sw0 = &btn0;
        sw1 = &btn1;
    };

    leds: leds {
        compatible = "gpio-leds";
        led0: led_0{
            gpios = <&gpioe 15 GPIO_ACTIVE_HIGH>;
            label = "SYS_LED";
        };
        led1: led_1{
            gpios = <&gpioa 12 GPIO_ACTIVE_HIGH>;
            label = "USER_LED 1";
        };
        led2: led_2{
            gpios = <&gpiob 7 GPIO_ACTIVE_HIGH>;
            label = "USER_LED 2";
        };
    };

    keys {
        compatible = "gpio-keys";
        btn0: btn_0{
            gpios = <&gpiom 2 BTN_GPIO_FLAGS>;
            label = "USER_LED 1";
        };

        btn1: btn_1{
            gpios = <&gpioh 10 BTN_GPIO_FLAGS>;
            label = "USER_LED 2";
        };

        bmc_boot_done_btn: bmc_boot_done {
            gpios = <&sgpiom2_m_p 3 GPIO_ACTIVE_HIGH>;
            label = "bmc boot done";
        };
    };
};

&cpu2 {
    status = "disabled";
};

&sram1 {
    reg = <0x10000000 DT_SIZE_K(512 + 764)>;
};

&sram2 {
    status = "disabled";
};

&qspi1 {
    compatible = "linkedsemi,ls-flash-controller";
    status = "okay";
};

&mbox {
    status = "disabled";
};

&uart1 {
    current-speed = <115200>;
    status = "okay";
};

&uart2 {
    current-speed = <115200>;
    status = "disabled";
};

&uart3 {
    current-speed = <115200>;
    status = "disabled";
};

&uart4 {
    current-speed = <115200>;
    status = "disabled";
};

&uart5 {
    current-speed = <115200>;
    status = "disabled";
};

&uart6 {
    /delete-property/ interrupts;
    current-speed = <115200>;
    status = "okay";
};

&uart7 {
    /delete-property/ interrupts;
    current-speed = <115200>;
    status = "okay";
};

&i2c5 {
    status = "okay";
};

&i2c6 {
    status = "okay";
};

&i2c7 {
    status = "okay";
};

&i2c8 {
    status = "okay";
};

&i2c9 {
    status = "okay";
};

&i2c10 {
    status = "okay";
};

&i2c10 {
    status = "okay";
};

&i2c11 {
    status = "okay";
};

&i2c12 {
    status = "okay";
};

&i2c13 {
    status = "okay";
};

&i2c14 {
    status = "okay";
};

&i2c15 {
    status = "okay";
};

&i2c16 {
    status = "okay";
};

&vuart1 {
    interrupts = <UART7_IRQN 3>;
    uart = <&uart7>;
    status = "okay";
};

&sio1 {
    status = "okay";
};

&mmbi1 {
    status = "okay";
};

&port80 {
    status = "okay";
};

&i2c2 {
    status = "okay";
};

// /*
//     smbus
// */

&smbus2 {
    status = "okay";
};

&smbus5 {
    status = "okay";
};

&smbus6 {
    status = "okay";
};

&smbus7 {
    status = "okay";
};

&smbus8 {
    status = "okay";
};

&smbus9 {
    status = "okay";
};

&smbus10 {
    status = "okay";
};

&smbus10 {
    status = "okay";
};

&smbus11 {
    status = "okay";
};

&smbus12 {
    status = "okay";
};

&smbus13 {
    status = "okay";
};

&smbus14 {
    status = "okay";
};

&smbus15 {
    status = "okay";
};

&smbus16 {
    status = "okay";
};

// &spi2 {
//     cs-gpios = <&gpioe 6 GPIO_ACTIVE_LOW>;
//     pinctrl-0 = <&spi2_sck_pb11 &spi2_miso_pb13 &spi2_mosi_pb10>;
//     pinctrl-names = "default";
//     status = "okay";

//     p25q32: p25q32@0 {
//         compatible = "jedec,spi-nor";
//         reg = <0>;
//         spi-max-frequency = <1000000>;
//         jedec-id = [85 60 16];
//         size = <0x400000>;
//         status = "okay";
//     };
// };

// &spi3 {
//     cs-gpios = <&gpiok 13 GPIO_ACTIVE_LOW>;
//     pinctrl-0 = <&spi3_sck_pc01 &spi3_d0_mosi_pc02 &spi3_d1_miso_pc05>;
//     pinctrl-names = "default";
//     status = "okay";

//     mx66l1g: mx66l1g@0 {
//         compatible = "jedec,spi-nor";
//         reg = <0>;
//         spi-max-frequency = <1000000>;
//         jedec-id = [c2 25 3b];
//         size = <0x8000000>;
//         status = "okay";
//     };
// };
