/*
 * Copyright (c) 2024 Linkedsemi
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <linkedsemi/lsqsh.dtsi>
#include <zephyr/dt-bindings/pinctrl/lsqsh-pinctrl.h>

&pinctrl {
    /* PECI */
    /omit-if-no-ref/peci_default_pk00: peci_default_pk00 {
        pinmux = <LS_PINMUX_SET('K', 0, FUNC_NULL)>;
        bias-pull-down;
        drive-open-drain;
    };

    /* RMII */
    /omit-if-no-ref/mdio_default_pt01: mdio_default_pt01 {
        pinmux = <LS_PINMUX_SET('T', 1, FUNC_NULL)>;
        input-enable;
    };
    /omit-if-no-ref/rxc_default_pt08: rxc_default_pt08 {
        pinmux = <LS_PINMUX_SET('T', 8, FUNC_NULL)>;
        input-enable;
    };
    /omit-if-no-ref/crsdv_default_pt09: crsdv_default_pt09 {
        pinmux = <LS_PINMUX_SET('T', 9, FUNC_NULL)>;
        input-enable;
    };
    /omit-if-no-ref/rxd0_default_pt10: rxd0_default_pt10 {
        pinmux = <LS_PINMUX_SET('T', 10, FUNC_NULL)>;
        input-enable;
    };
    /omit-if-no-ref/rxd1_default_pt11: rxd1_default_pt11 {
        pinmux = <LS_PINMUX_SET('T', 11, FUNC_NULL)>;
        input-enable;
    };

    /* SDHC */
    /omit-if-no-ref/d0_default_ph04: d0_default_ph04 {
        pinmux = <LS_PINMUX_SET('H', 4, FUNC_NULL)>;
        input-enable;
    };
    /omit-if-no-ref/d1_default_ph05: d1_default_ph05 {
        pinmux = <LS_PINMUX_SET('H', 5, FUNC_NULL)>;
        input-enable;
    };
    /omit-if-no-ref/d2_default_ph06: d2_default_ph06 {
        pinmux = <LS_PINMUX_SET('H', 6, FUNC_NULL)>;
        input-enable;
    };
    /omit-if-no-ref/d3_default_ph07: d3_default_ph07 {
        pinmux = <LS_PINMUX_SET('H', 7, FUNC_NULL)>;
        input-enable;
    };
    /omit-if-no-ref/d4_default_ph08: d4_default_ph08 {
        pinmux = <LS_PINMUX_SET('H', 8, FUNC_NULL)>;
        input-enable;
    };
    /omit-if-no-ref/d5_default_ph09: d5_default_ph09 {
        pinmux = <LS_PINMUX_SET('H', 9, FUNC_NULL)>;
        input-enable;
    };
    /omit-if-no-ref/d6_default_ph010: d6_default_ph010 {
        pinmux = <LS_PINMUX_SET('H', 10, FUNC_NULL)>;
        input-enable;
    };
    /omit-if-no-ref/d7_default_ph011: d7_default_ph011 {
        pinmux = <LS_PINMUX_SET('H', 11, FUNC_NULL)>;
        input-enable;
    };
    /omit-if-no-ref/cmd_default_ph013: cmd_default_ph013 {
        pinmux = <LS_PINMUX_SET('H', 13, FUNC_NULL)>;
        input-enable;
    };
};
