/*
 * Copyright (c) 2025 linkedsemi
 * SPDX-License-Identifier: Apache-2.0
 */

#include "lsqsh_evb_pinctrl.dtsi"

/ {
    chosen {
        zephyr,flash = &flash1;
        zephyr,flash-controller = &qspi1;
        zephyr,sram = &sram1;
        zephyr,console = &uart1;
        zephyr,shell-uart = &uart1;
    };

    aliases {
        // testi2c1 = &i2c5;
        // testi2c2 = &i2c12;
        // testeeprom1 = &eeprom5;
        // testeeprom2 = &eeprom12;
        testjtag2 = &jtag2;
        peci-0 = &peci1;
        sdhc0 = &sdhci1;
        led0 = &led0;
        sw0 = &btn0;
    };

    leds {
        compatible = "gpio-leds";
        led0: led_0{
            gpios = <&gpioe 15 GPIO_ACTIVE_HIGH>;
            label = "Red LED";
        };
    };

    keys {
        compatible = "gpio-keys";
        btn0: btn_0{
            gpios = <&gpioh 10 BTN_GPIO_FLAGS>;
            label = "Push button 1";
        };

        bmc_boot_done_btn: bmc_boot_done {
            gpios = <&sgpiom2_m_p 3 GPIO_ACTIVE_HIGH>;
            label = "bmc boot done";
        };
    };
};

&cpu2 {
    status = "disabled";
};

&sram1 {
    reg = <0x10000000 DT_SIZE_K(512 + 764)>;
};

&sram2 {
    status = "disabled";
};

&qspi1 {
    compatible = "linkedsemi,ls-flash-controller";
    status = "okay";
};

&mbox {
    status = "disabled";
};

&i2c5 {
    status = "okay";
};

&i2c6 {
    status = "okay";
};

&i2c7 {
    status = "okay";
};

&i2c8 {
    status = "okay";
};

&i2c9 {
    status = "okay";
};

&i2c10 {
    status = "okay";
};

&i2c10 {
    status = "okay";
};

&i2c11 {
    status = "okay";
};

&i2c12 {
    status = "okay";
};

&i2c13 {
    status = "okay";
};

&i2c14 {
    status = "okay";
};

&i2c15 {
    status = "okay";
};

&i2c16 {
    status = "okay";
};

&vuart1 {
    interrupts = <UART7_IRQN 3>;
    uart = <&uart7>;
    status = "okay";
};

&sio1 {
    status = "okay";
};

&mmbi1 {
    status = "okay";
};

&i2c2 {
    status = "okay";
};

// /*
//     smbus
// */

&smbus2 {
    status = "okay";
};

&smbus5 {
    status = "okay";
};

&smbus6 {
    status = "okay";
};

&smbus7 {
    status = "okay";
};

&smbus8 {
    status = "okay";
};

&smbus9 {
    status = "okay";
};

&smbus10 {
    status = "okay";
};

&smbus10 {
    status = "okay";
};

&smbus11 {
    status = "okay";
};

&smbus12 {
    status = "okay";
};

&smbus13 {
    status = "okay";
};

&smbus14 {
    status = "okay";
};

&smbus15 {
    status = "okay";
};

&smbus16 {
    status = "okay";
};

// &spi2 {
//     cs-gpios = <&gpioe 6 GPIO_ACTIVE_LOW>;
//     pinctrl-0 = <&spi2_sck_pb11 &spi2_miso_pb13 &spi2_mosi_pb10>;
//     pinctrl-names = "default";
//     status = "okay";

//     p25q32: p25q32@0 {
//         compatible = "jedec,spi-nor";
//         reg = <0>;
//         spi-max-frequency = <1000000>;
//         jedec-id = [85 60 16];
//         size = <0x400000>;
//         status = "okay";
//     };
// };

// &spi3 {
//     cs-gpios = <&gpiok 13 GPIO_ACTIVE_LOW>;
//     pinctrl-0 = <&spi3_sck_pc01 &spi3_d0_mosi_pc02 &spi3_d1_miso_pc05>;
//     pinctrl-names = "default";
//     status = "okay";

//     mx66l1g: mx66l1g@0 {
//         compatible = "jedec,spi-nor";
//         reg = <0>;
//         spi-max-frequency = <1000000>;
//         jedec-id = [c2 25 3b];
//         size = <0x8000000>;
//         status = "okay";
//     };
// };

&qspi1 {
    flash1_partitions: partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        /* sbl */
        sbl_partition: partition@0 {
            label = "sbl";
            reg = <0x0 DT_SIZE_K(56)>;
            attr = <0>;
        };
        sbl_env_partition: partition@e000 {
            label = "sbl_env";
            reg = <0x0000e000 DT_SIZE_K(8)>;
            attr = <PMP_R>;
        };

        /* a */
        a_sec_image_partition: partition@10000 {
            label = "a_sec_image";
            reg = <0x00010000 (DT_SIZE_M(1) - DT_SIZE_K(64))>;
            attr = <0>;
        };
        a_app_image_partition: partition@100000 {
            label = "a_app_image";
            reg = <0x00100000 DT_SIZE_M(12)>;
            attr = <(PMP_R | PMP_W | PMP_X)>;
        };
        a_rofs_partition: partition@d00000 {
            label = "a_rofs";
            reg = <0x00d00000 DT_SIZE_M(2)>;
            attr = <PMP_R>;
        };

        /* common */
        rwfs_partition: partition@f00000 {
            label = "rwfs";
            reg = <0x00f00000 (DT_SIZE_M(2) + DT_SIZE_K(64))>;
            attr = <(PMP_R | PMP_W)>;
        };

        /* b */
        b_sec_image_partition: partition@1110000 {
            label = "b_sec_image";
            reg = <0x01110000 (DT_SIZE_M(1) - DT_SIZE_K(64))>;
            attr = <0>;
        };
        b_app_image_partition: partition@1200000 {
            label = "b_app_image";
            reg = <0x01200000 DT_SIZE_M(12)>;
            attr = <(PMP_R | PMP_W | PMP_X)>;
        };
        b_rofs_partition: partition@1e00000 {
            label = "b_rofs";
            reg = <0x01e00000 DT_SIZE_M(2)>;
            attr = <PMP_R>;
        };
    };
};
