/*
 * Copyright (c) 2021, Teslabs Engineering S.L.
 * SPDX-License-Identifier: Apache-2.0
 */

// #include <gigadevice/gd32vf103Xb.dtsi>
// #include "gd32vf103v_eval-pinctrl.dtsi"
/dts-v1/;
#include <riscv/linkedsemi/lsqsh.dtsi>
#include "lsqsh_evb-pinctrl.dtsi"
#include <zephyr/dt-bindings/pinctrl/lsqsh-pinctrl.h>

#define BTN_GPIO_FLAGS (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)

/ {
    model = "linkedsemi LSQSH_EVB";
    compatible = "linkedsemi,lsqsh_evb";

    chosen {
        zephyr,sram = &sram0;
        zephyr,console = &uart3;
        zephyr,shell-uart = &uart3;
    };

    aliases {
        testi2c1 = &i2c2;
        testi2c2 = &i2c7;
        testeeprom1 = &eeprom2;
        testeeprom2 = &eeprom7;
        peci-0 = &peci0;
        sdhc0 = &sdhci;
        led0 = &led0;
        sw0 = &btn0;
    };

    soc {
        compatible = "simpe-bus";
        #address-cells = <1>;
        #size-cells = <1>;
        interrupt-parent = <&intc>;

        mbox: mbox@1013f800 {
            compatible = "linkedsemi,mbox";
            reg = <0x1013f800 0x800>;
            interrupts = <27 3>;
            fifo-deepth = <128>;
            fifo-width = <4>;
            #mbox-cells = <1>;
        };
    };

    mbox-consumer {
        compatible = "vnd,mbox-consumer";
        mboxes = <&mbox 1>, <&mbox 0>;
        mbox-names = "tx", "rx";
    };

    leds {
        compatible = "gpio-leds";
        led0: led_0{
            gpios = <&gpioc 12 GPIO_ACTIVE_HIGH>;
            label = "Red LED";
        };
    };

    keys {
        compatible = "gpio-keys";
        btn0: btn_0{
            gpios = <&gpioc 5 BTN_GPIO_FLAGS>;
            label = "Push button 1";
        };
    };
};

&cpu0 {
    clock-frequency = <50000000>;
    cpu-power-states = <&idle &lp0>;
};

&sram1 {
    status = "disabled";
};

&gpioa {
    status = "okay";
};

&gpiob {
    status = "okay";
};

&gpioc {
    status = "okay";
};

&gpiod {
    status = "okay";
};

&gpioe {
    status = "okay";
};

&gpiof {
    status = "okay";
};

&gpiog {
    status = "okay";
};

&gpioh {
    status = "okay";
};

&gpioi {
    status = "okay";
};

&gpioj {
    status = "okay";
};

&gpiok {
    status = "okay";
};

&gpiom {
    status = "okay";
};

&gpion {
    status = "okay";
};

&gpioq {
    status = "okay";
};

&gpiot {
    status = "okay";
};

&uart1 {
    status = "disabled";
    current-speed = <115200>;
};

&uart2 {
    status = "disabled";
    current-speed = <115200>;
};

&uart3 {
    status = "okay";
    current-speed = <115200>;
};

&uart4 {
    status = "disabled";
    current-speed = <115200>;
};

&i2c2 {
    status = "okay";
    eeprom2: eeprom@76 {
        compatible = "zephyr,i2c-target-eeprom";
        reg = <0x76>;
        size = <256>;
        status = "okay";
    };
};

&i2c7 {
    status = "okay";
    eeprom7: eeprom@76 {
        compatible = "zephyr,i2c-target-eeprom";
        reg = <0x76>;
        size = <256>;
        status = "okay";
    };
};

&smbus2 {
    status = "okay";
};

&smbus7 {
    status = "okay";
};

&mac {
    pinctrl-0 = <&mdio_default_pt01
                &rxc_default_pt08
                &crsdv_default_pt09
                &rxd0_default_pt10
                &rxd1_default_pt11>;
    pinctrl-names = "default";
    status = "okay";
};

&peci0 {
    pinctrl-0 = <&peci_default_pk00>;
    pinctrl-names = "default";
    status = "okay";
};

&sdhci {
    pinctrl-0 = <&d0_default_ph04
                &d1_default_ph05
                &d2_default_ph06
                &d3_default_ph07
                &d4_default_ph08
                &d5_default_ph09
                &d6_default_ph010
                &d7_default_ph011
                &cmd_default_ph013>;
    pinctrl-names = "default";
    status = "okay";

    disk {
        compatible = "zephyr,mmc-disk";
        bus-width = <1>;
        status = "okay";
    };
};
