/*
 * Copyright (c) 2025 linkedsemi
 * SPDX-License-Identifier: Apache-2.0
 */

#include "lsqsh_evb_pinctrl.dtsi"

/ {
    chosen {
        zephyr,flash = &flash1;
        zephyr,flash-controller = &qspi1;
        zephyr,sram = &sram1;
        zephyr,console = &uart1;
        zephyr,shell-uart = &uart1;
    };

    aliases {
        // testi2c1 = &i2c5;
        // testi2c2 = &i2c12;
        // testeeprom1 = &eeprom5;
        // testeeprom2 = &eeprom12;
        testjtag2 = &jtag2;
        peci-0 = &peci1;
        sdhc0 = &sdhci1;
        led0 = &led0;
        sw0 = &btn0;
    };

    leds {
        compatible = "gpio-leds";
        led0: led_0{
            gpios = <&gpioc 12 GPIO_ACTIVE_HIGH>;
            label = "Red LED";
        };
    };

    keys {
        compatible = "gpio-keys";
        btn0: btn_0{
            gpios = <&gpioc 5 BTN_GPIO_FLAGS>;
            label = "Push button 1";
        };

        bmc_boot_done_btn: bmc_boot_done {
            gpios = <&sgpiom2_m_p 3 GPIO_ACTIVE_HIGH>;
            label = "bmc boot done";
        };
    };
};

&cpu2 {
    status = "disabled";
};

&sram1 {
    reg = <0x10000000 DT_SIZE_K(512 + 764)>;
};

&sram2 {
    status = "disabled";
};

&mbox {
    status = "disabled";
};

&mbox_consumer1 {
    status = "disabled";
};

&mbox_consumer2 {
    status = "disabled";
};

&uart1 {
    current-speed = <115200>;
    status = "okay";
};

&uart2 {
    current-speed = <115200>;
    status = "disabled";
};

&uart3 {
    current-speed = <115200>;
    status = "disabled";
};

&uart4 {
    current-speed = <115200>;
    status = "disabled";
};

&uart5 {
    current-speed = <115200>;
    status = "disabled";
};

&uart7 {
    /delete-property/ interrupts;
    current-speed = <115200>;
    status = "okay";
};

&vuart1 {
    interrupts = <UART7_IRQN 3>;
    uart = <&uart7>;
    status = "okay";
};

&sio1 {
    status = "okay";
};

&mmbi1 {
    status = "okay";
};

&i2c2 {
    status = "okay";
};

// &i2c3 {
//     pinctrl-0 = <&i2c3_scl_pc06 &i2c3_sda_pc11>;
//     pinctrl-names = "default";
//     status = "okay";

//     eeprom3: eeprom@76 {
//         compatible = "zephyr,i2c-target-eeprom";
//         reg = <0x76>;
//         size = <256>;
//         status = "okay";
//     };
// };

// &i2c4 {
//     pinctrl-0 = <&i2c4_scl_pd00 &i2c4_sda_pd01>;
//     pinctrl-names = "default";
//     status = "okay";

//     eeprom4: eeprom@76 {
//         compatible = "zephyr,i2c-target-eeprom";
//         reg = <0x76>;
//         size = <256>;
//         status = "okay";
//     };
// };

// &i2c5 {
//     pinctrl-0 = <&i2c5_scl_pe07 &i2c5_sda_pe08>;
//     pinctrl-names = "default";
//     status = "okay";

//     eeprom5: eeprom@76 {
//         compatible = "zephyr,i2c-target-eeprom";
//         reg = <0x76>;
//         size = <256>;
//         status = "okay";
//     };
// };

// &i2c6 {
//     pinctrl-0 = <&i2c6_scl_pf07 &i2c6_sda_pf08>;
//     pinctrl-names = "default";
//     status = "okay";
// &i2c6 {
//     pinctrl-0 = <&i2c6_scl_pf07 &i2c6_sda_pf08>;
//     pinctrl-names = "default";
//     status = "disabled";

//     eeprom6: eeprom@76 {
//         compatible = "zephyr,i2c-target-eeprom";
//         reg = <0x76>;
//         size = <256>;
//         status = "okay";
//     };
// };

// &i2c7 {
//     pinctrl-0 = <&i2c7_scl_pk15 &i2c7_sda_pk14>;
//     pinctrl-names = "default";
//     status = "okay";

//     eeprom7: eeprom@76 {
//         compatible = "zephyr,i2c-target-eeprom";
//         reg = <0x76>;
//         size = <256>;
//         status = "okay";
//     };
// };

// &i2c10 {
//     pinctrl-0 = <&i2c10_scl_pj03 &i2c10_sda_pj02>;
//     pinctrl-names = "default";
//     status = "okay";

//     eeprom10: eeprom@76 {
//         compatible = "zephyr,i2c-target-eeprom";
//         reg = <0x76>;
//         size = <256>;
//         status = "okay";
//     };
// };

// &i2c11 {
//     pinctrl-0 = <&i2c11_scl_pn09 &i2c11_sda_pn08>;
//     pinctrl-names = "default";
//     status = "okay";

//     eeprom11: eeprom@76 {
//         compatible = "zephyr,i2c-target-eeprom";
//         reg = <0x76>;
//         size = <256>;
//         status = "okay";
//     };
// };

// &i2c12 {
//     pinctrl-0 = <&i2c12_scl_pn13 &i2c12_sda_pn14>;
//     pinctrl-names = "default";
//     status = "okay";

//     eeprom12: eeprom@76 {
//         compatible = "zephyr,i2c-target-eeprom";
//         reg = <0x76>;
//         size = <256>;
//         status = "okay";
//     };
// };

// &i2c13 {
//     pinctrl-0 = <&i2c13_scl_pq00 &i2c13_sda_pq01>;
//     pinctrl-names = "default";
//     status = "okay";

//     eeprom13: eeprom@76 {
//         compatible = "zephyr,i2c-target-eeprom";
//         reg = <0x76>;
//         size = <256>;
//         status = "okay";
//     };
// };

// &i2c14 {
//     pinctrl-0 = <&i2c14_scl_pq03 &i2c14_sda_pq02>;
//     pinctrl-names = "default";
//     status = "okay";

//     eeprom14: eeprom@76 {
//         compatible = "zephyr,i2c-target-eeprom";
//         reg = <0x76>;
//         size = <256>;
//         status = "okay";
//     };
// };

// /*
//     smbus
// */

&smbus2 {
    status = "okay";
};

// &spi2 {
//     cs-gpios = <&gpioe 6 GPIO_ACTIVE_LOW>;
//     pinctrl-0 = <&spi2_sck_pb11 &spi2_miso_pb13 &spi2_mosi_pb10>;
//     pinctrl-names = "default";
//     status = "okay";

//     p25q32: p25q32@0 {
//         compatible = "jedec,spi-nor";
//         reg = <0>;
//         spi-max-frequency = <1000000>;
//         jedec-id = [85 60 16];
//         size = <0x400000>;
//         status = "okay";
//     };
// };

// &spi3 {
//     cs-gpios = <&gpiok 13 GPIO_ACTIVE_LOW>;
//     pinctrl-0 = <&spi3_sck_pc01 &spi3_d0_mosi_pc02 &spi3_d1_miso_pc05>;
//     pinctrl-names = "default";
//     status = "okay";

//     mx66l1g: mx66l1g@0 {
//         compatible = "jedec,spi-nor";
//         reg = <0>;
//         spi-max-frequency = <1000000>;
//         jedec-id = [c2 25 3b];
//         size = <0x8000000>;
//         status = "okay";
//     };
// };
