/*
 * Copyright (c) 2025 linkedsemi
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <riscv/linkedsemi/lsqsh.dtsi>

#define BTN_GPIO_FLAGS (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)

/ {
    model = "linkedsemi lsqsh_evb";
    compatible = "linkedsemi,lsqsh_evb";

    chosen {
        zephyr,flash = &flash1;
        zephyr,flash-controller = &qspi1;
        zephyr,sram = &sram1;
    };

    aliases {
        peci-0 = &peci1;
        sdhc0 = &sdhci1;
    };

    soc {
        compatible = "simpe-bus";
        #address-cells = <1>;
        #size-cells = <1>;
        interrupt-parent = <&intc>;

        mbox: mbox@1013f000 {
            compatible = "linkedsemi,mbox";
            reg = <0x1013f000 DT_SIZE_K(4)>;
            interrupts = <SYSC_APP_CPU_IRQN 3>;
            nchannels = <3>;
            fifo-deepth = <2>;
            fifo-width = <256>;
            #mbox-cells = <1>;
        };
    };

    mbox_consumer1: mbox-consumer1 {
        compatible = "vnd,mbox-consumer";
        mboxes = <&mbox 1>, <&mbox 0>;
        mbox-names = "tx", "rx";
    };

    mbox_consumer2: mbox-consumer2 {
        compatible = "vnd,mbox-consumer";
        mboxes = <&mbox 3>, <&mbox 2>;
        mbox-names = "tx", "rx";
    };

    /* func call */
    mbox_consumer3: mbox-consumer3 {
        compatible = "vnd,mbox-consumer";
        mboxes = <&mbox 5>, <&mbox 4>;
        mbox-names = "tx", "rx";
    };
};

&cpu1 {
    status = "okay";
};

&cpu2 {
    status = "disabled";
};

&gpioa {
    status = "okay";
};

&gpiob {
    status = "okay";
};

&gpioc {
    status = "okay";
};

&gpiod {
    status = "okay";
};

&gpioe {
    status = "okay";
};

&gpiof {
    status = "okay";
};

&gpiog {
    status = "okay";
};

&gpioh {
    status = "okay";
};

&gpioi {
    status = "okay";
};

&gpioj {
    status = "okay";
};

&gpiok {
    status = "okay";
};

&gpiom {
    status = "okay";
};

&gpion {
    status = "okay";
};

&gpioq {
    status = "okay";
};

&gpiot {
    status = "okay";
};

// &sgpiom {
//     ngpios = <128>;
//     status = "okay";
// };

// &sgpiom_a_d {
//     status = "okay";
// };

// &sgpiom_e_h {
//     status = "okay";
// };

// &sgpiom_i_l {
//     status = "okay";
// };

// &sgpiom_m_p {
//     status = "okay";
// };

&sgpiom2 {
    ngpios = <128>;
    status = "okay";
};

&sgpiom2_a_d {
    status = "okay";
};

&sgpiom2_e_h {
    status = "okay";
};

&sgpiom2_i_l {
    status = "okay";
};

&sgpiom2_m_p {
    status = "okay";
};

&eth1 {
    status = "okay";
};

&mdio1 {
    status = "okay";
};

&peci1 {
    status = "okay";
};

&sdhci1 {
    status = "okay";

    mmc_disk1: disk {
        compatible = "zephyr,mmc-disk";
        disk-name = "SD";
        bus-width = <1>;
        status = "okay";
    };
};

&aes256 {
    status = "okay";
};

&sha256 {
    status = "okay";
};

&sha512 {
    status = "okay";
};

&sm4 {
    status = "okay";
};

// tst_dma0: &dma0 {
//     status = "okay";
// };

&lpc1 {
    status = "disabled";

    lpc_kcs_ca2: lpc_kcs_ca2 {
        compatible = "linkedsemi,ls-kcs";
        port = <0xca2 0xca3>;
        status = "disabled";
    };
};

&espi1 {
    espi1_kcs_ca2: espi1_kcs_ca2 {
        compatible = "linkedsemi,ls-kcs";
        port = <0xca2 0xca3>;
        status = "okay";
    };
};

&ipmi_kcs {
    kcs_chan = <&espi1_kcs_ca2>;
    status = "okay";
};
