# Copyright (c) 2025 linkedsemi
# SPDX-License-Identifier: Apache-2.0

CONFIG_OUTPUT_DISASSEMBLY=y
# CONFIG_COMPILER_OPT="-O0"
CONFIG_NUM_USE_CPU=2
CONFIG_NUM_OS=2
CONFIG_CPU2_BOOT_ADDR=0x8800000

CONFIG_NOCACHE_MEMORY=y
CONFIG_RISCV_PMP=y
CONFIG_PMP_GRANULARITY=4096

CONFIG_ASSERT=y
CONFIG_MINIMAL_LIBC=y
CONFIG_MINIMAL_LIBC_RAND=y
CONFIG_MAIN_STACK_SIZE=20480
CONFIG_ISR_STACK_SIZE=4096

CONFIG_PINCTRL=y
CONFIG_CLOCK_CONTROL=y
CONFIG_RESET=y
CONFIG_GPIO=n

CONFIG_SERIAL=y
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

CONFIG_SPI=n
CONFIG_I2C=n
CONFIG_XIP=y

CONFIG_MBOX=y
CONFIG_MBOX_LINKEDSEMI=y

CONFIG_CACHE=y
CONFIG_CACHE_MANAGEMENT=y
CONFIG_CACHE_LINKEDSEMI=y
