/*
 * Copyright (c) 2025 linkedsemi
 * SPDX-License-Identifier: Apache-2.0
 */

#include "lsqsh_evb_pinctrl.dtsi"

/ {
    chosen {
        zephyr,sram = &sram2;
        zephyr,console = &uart4;
        zephyr,shell-uart = &uart4;
        zephyr,flash-controller = &qspi1;
        share,flash = &flash1;
    };
};

&uart1 {
    current-speed = <115200>;
    status = "disabled";
};

&uart2 {
    current-speed = <115200>;
    status = "disabled";
};

&uart3 {
    current-speed = <115200>;
    status = "disabled";
};

&uart4 {
    current-speed = <115200>;
    status = "okay";
};

&uart5 {
    status = "disabled";
};
