# Copyright (c) 2025 linkedsemi
# SPDX-License-Identifier: Apache-2.0

CONFIG_MINIMAL_LIBC=y

# CONFIG_BOOT_BANNER=n
# CONFIG_COMPILER_OPT="-O0"
CONFIG_NUM_USE_CPU=2
CONFIG_NUM_OS=2
CONFIG_CPU2_BOOT_ADDR=0x8100000
