# Copyright (c) 2024 LinkedSemi Semiconductor
# SPDX-License-Identifier: Apache-2.0

# config DEBUG_COREDUMP_BACKEND_EMMC
# 	bool "Use eMMC for coredump"
# 	depends on SDHCI_LINKEDSEMI
# 	help
# 	  Core dump is saved directly to eMMC storage.

if DEBUG_COREDUMP_BACKEND_EMMC

config DEBUG_COREDUMP_EMMC_SECTION_SIZE
	int "eMMC section size for coredump operations"
	default 512
	help
	  eMMC block/sector size for coredump read/write operations.
	  Default is 512 bytes (eMMC native block size).

endif # DEBUG_COREDUMP_BACKEND_EMMC