/*
 * Copyright (c) 2025, linkedsemi
 * SPDX-License-Identifier: Apache-2.0
 */

&sgpiom2 {
    status = "disabled";
};

&sgpiom2_a_d {
    status = "disabled";
};

&sgpiom2_e_h{
    status = "disabled";
};

&sgpiom2_i_l {
    status = "disabled";
};

&sgpiom2_m_p {
    status = "disabled";
};

&espi1 {
    espi1_kcs_ca2: espi1_kcs_ca2 {
        compatible = "linkedsemi,ls-kcs";
        port = <0xca2 0xca3>;
        status = "okay";
    };
    status = "okay";
};

&ipmi_kcs {
    kcs_chan = <&espi1_kcs_ca2>;
    status = "okay";
};

&vuart1 {
    reg = <0x40087800 0x400>;
    interrupts = <UART3_IRQN 3>;
    clocks = <UART3_CLOCK>;
    resets = <UART3_RESET>;
    pinctrl-0 = <&uart3_tx_pb01 &uart3_rx_pb03>;
    pinctrl-names = "default";
    status = "okay";
};

&sio1 {
    status = "okay";
};

&mmbi1 {
    status = "okay";
};
