/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include "le501x.dtsi"

/ {
	model = "LE501X_EVB";
	compatible = "vendor,le501x_evb";

	chosen {
		zephyr,console = &uart1;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};

};

&uart1 {
	status = "okay";

	current-speed = <115200>;
};

&systick {
	status = "okay";
};

