/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <linkedsemi/le501x.dtsi>

/ {
	model = "linkedsemi LE501X_EVB";
	compatible = "linkedsemi,le501x_evb";

	chosen {
		zephyr,console = &uart1;
		zephyr,shell-uart = &uart1;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};

};

&flash0 {

    /*
	* Flash base address is 0x18000000,
    * the following parts are all offset addresses.
	*/

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "info-sbl-llsw";
			reg = <0x00000000 0x00026000>;
		};
	
        app_partition: partition@26000 {
			label = "app";
			reg = <0x00026000 0x00056000>;
		};

		/*
		 * The flash starting at 0x1807C000 and ending at
		 * 0x1807FFFF is reserved for use by the application.
		 */

		/*
		 * Storage partition will be used by FCB/LittleFS/NVS
		 * if enabled.
		 */
		storage_partition: partition@7C000 {
			label = "storage";
			reg = <0x0007c000 0x00004000>;
		};
	};
};

&uart1 {
	status = "okay";

	current-speed = <115200>;
};

&uart2 {
	status = "disabled";

	current-speed = <115200>;
};

&uart3{
	status = "disabled";

	current-speed = <115200>;
};
&systick {
	status = "okay";
};

