if SOC_SERIES_LSQSH

config SOC
    default "lsqsh"

config RISCV_HAS_PLIC
	default n

config RISCV_HAS_CLIC
	default y

config RISCV_MCAUSE_EXCEPTION_MASK
	default 0xfff

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default $(dt_node_int_prop_int,/cpus/cpu@0,clock-frequency) if $(dt_path_enabled,/cpus/cpu@0)
	default $(dt_node_int_prop_int,/cpus/cpu@1,clock-frequency) if $(dt_path_enabled,/cpus/cpu@1)
	default 0

config NUM_IRQS
	default 176

config MAIN_STACK_SIZE
	default 2048

config ICACHE_LINE_SIZE
	default 32

config DCACHE_LINE_SIZE
	default 32

choice CACHE_TYPE
	default EXTERNAL_CACHE
endchoice

if NETWORKING

config NET_L2_ETHERNET
	default y

endif # NETWORKING

config NUM_USE_CPU
	int "running CPU number"
	range 1 2
	default 2

config NUM_OS
	int "running OS number"
	range 1 2
	default 2

if ((NUM_USE_CPU=2) && $(dt_path_enabled,/cpus/cpu@0))
	config CPU1_BOOT_ADDR
		hex "CPU1_BOOT_ADDR"
		default 0x10080000
endif

endif
