if SOC_SERIES_LSQSH

config SOC
    default "lsqsh"

config RISCV_HAS_PLIC
	default n

config RISCV_HAS_CLIC
	default y

config XUANTIE_E906_CLIC
	bool
	default y

config RISCV_MCAUSE_EXCEPTION_MASK
	default 0xfff

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default $(dt_node_int_prop_int,/cpus/cpu@1,clock-frequency) if $(dt_path_enabled,/cpus/cpu@1)
	default $(dt_node_int_prop_int,/cpus/cpu@2,clock-frequency) if $(dt_path_enabled,/cpus/cpu@2)
	default 0

config NUM_IRQS
	default 176

if MINIMAL_LIBC
	config MINIMAL_LIBC_RAND
		default y
endif

config MAIN_STACK_SIZE
	default 10240

config ISR_STACK_SIZE
	default 4096

config ICACHE_LINE_SIZE
	default 32

config DCACHE_LINE_SIZE
	default 32

config COMPILER_SAVE_TEMPS
	default y

config OUTPUT_DISASSEMBLY
	default y

config NOCACHE_MEMORY
	default y

config RISCV_PMP
	default y

config PMP_GRANULARITY
	default 4096

config ASSERT
	default y

config PINCTRL
	default y

config CLOCK_CONTROL
	default y

config RESET
	default y

config GPIO
	default y

config SERIAL
	default y

config CONSOLE
	default y

config UART_CONSOLE
	default y

config XIP
	default y

config CACHE
	default y

config CACHE_MANAGEMENT
	default y

config CACHE_LINKEDSEMI
	default y

config ICACHE_LINE_SIZE_DETECT
	default y

config DCACHE_LINE_SIZE_DETECT
	default y

config IOPMP
	bool "IOPMP"
	default y

config RV_BOOT_HART_MRADDR
	hex
	default 0x1000000

choice CACHE_TYPE
	default EXTERNAL_CACHE
endchoice

config SOC_EARLY_INIT_HOOK
	default y

config SOC_LATE_INIT_HOOK
	default y

if NETWORKING

config NET_L2_ETHERNET
	default y

config NET_DRIVERS
	default y

config MDIO
	default y

endif # NETWORKING

if CACHE
if DCACHE

if NETWORKING
config NET_BUF_ALIGNMENT
	default DCACHE_LINE_SIZE
endif # NETWORKING

if FAT_FILESYSTEM_ELM
config FS_FATFS_WINDOW_ALIGNMENT
	default DCACHE_LINE_SIZE
endif # FAT_FILESYSTEM_ELM

endif # DCACHE
endif # CACHE

config NUM_USE_CPU
	int "running CPU number"
	range 1 2
	default 2

config NUM_OS
	int "running OS number"
	range 1 2
	default 2

if (NUM_USE_CPU=2)
	if $(dt_path_enabled,/cpus/cpu@1)
		config BOOT_CPU2
			bool "BOOT_CPU2"
			default n

	if (NUM_OS=2)
		config FLASH_OP_DELEGATION_SERVER
			default y
	endif # (NUM_OS=2)
endif # (NUM_USE_CPU=2)

	config MBOX
		default y
endif

config IMAGE_HEADER
	bool "IMAGE_HEADER"
	default n

config CPU2_LOAD_ADDR
	hex "CPU2_LOAD_ADDR"
	default 0x8800000

config CPU2_BOOT_ADDR
	hex "CPU2_BOOT_ADDR"
	default 0x8800000

config INIT_FLASH_FOR_DEBUG
	bool "INIT_FLASH_FOR_DEBUG"
	default $(dt_path_enabled,/cpus/cpu@1)

config FLASH
	default y


config CRC
	default y

config USERSPACE
	default n

config RISCV_PMP
	default y
	
config PMP_SLOTS
	default 16

config PMP_GRANULARITY
	default 128

config PMP_NO_NA4
	default y

config RISCV_SOC_HAS_ISR_STACKING
	default y

config PSRAM
	bool "PSRAM"
	default n

config NEWLIB_LIBC_MALLOC_LSQSH
	bool "NEWLIB_LIBC_MALLOC_LSQSH"
	default n

if NEWLIB_LIBC_MALLOC_LSQSH

config NEWLIB_LIBC_MALLOC_ARENA_SIZE
	int "NEWLIB_LIBC_MALLOC_ARENA_SIZE"
	default 0

config NEWLIB_LIBC_MALLOC_ARENA_2_SIZE
	int "NEWLIB_LIBC_MALLOC_ARENA_2_SIZE"
	default 0

config NEWLIB_LIBC_CALLOC
	bool "Common C library calloc"
	depends on NEWLIB_LIBC_MALLOC_LSQSH
	default n if MINIMAL_LIBC
	default y
	help
	  Enable the common C library trivial implementation of calloc,
	  which forwards to malloc and memset.

config NEWLIB_LIBC_REALLOCARRAY
	bool "Common C library reallocarray"
	depends on NEWLIB_LIBC_MALLOC_LSQSH
	default n if MINIMAL_LIBC
	default y
	help
	  Enable the common C library trivial implementation of
	  reallocarray, which forwards to realloc.

config COMMON_LIBC_MALLOC
	default n

endif

if POSIX_SINGLE_PROCESS
	config POSIX_UNAME_VERSION_LEN
		default 100
endif

config REBOOT
	default y

config PRECISE_EXCEPTION
	bool "PRECISE_EXCEPTION"
	default n

config IRQ_NESTED
	bool "PRECISE_EXCEPTION"
	default n

config THREAD_ERROR_ISOLATION
	bool "THREAD_ERROR_ISOLATION"
	default y

config QSPI1_FREQ
	int "QSPI1_FREQ"
	default 100000000

config FORCE_CLOCK_HSI
	bool "FORCE_CLOCK_HSI(25MHz)"
	default n

config UART_SHARE_REGISTER
	bool "UART_SHARE_REGISTER"
	default n

config SHA256_CLOCK_RESET
	bool "SHA256_CLOCK_RESET"
	default y

config SHA512_CLOCK_RESET
	bool "SHA512_CLOCK_RESET"
	default y

config SM4_CLOCK_RESET
	bool "SM4_CLOCK_RESET"
	default y

config AES_CLOCK_RESET
	bool "AES_CLOCK_RESET"
	default y

config VENDER_DEFINE_DMA_DW_LLI_POOL
	bool "VENDER_DEFINE_DMA_DW_LLI_POOL"
	default y

if DMA_DW
	config DMA_DW_LLI_POOL_SIZE
		default 64
endif

endif
