config SOC_LSQSH_CPU1
    bool

config SOC_LSQSH_CPU2
    bool

config SOC_LSQSH
    bool
    select SOC_SERIES_LSQSH
    select SOC_LSQSH_CPU1 if $(dt_path_enabled,/cpus/cpu@0)
    select SOC_LSQSH_CPU2 if $(dt_path_enabled,/cpus/cpu@1)

config SOC_SERIES_LSQSH
    bool
    select SOC_FAMILY_LS_MCU

config SOC_SERIES
    default "lsqsh" if SOC_SERIES_LSQSH

config SOC
    default "lsqsh" if SOC_LSQSH
