

config I2C_LE501X
	bool "LE501X I2C driver"
	default y
	depends on DT_HAS_LE501X_I2C_ENABLED
	help
	  Enable support for le501x I2C driver

config I2C_LE501X_INTERRUPT
	bool "LW501X MCU I2C Interrupt Support"
	depends on I2C_LE501X
	default n
	help
	  Enable Interrupt support for the I2C Driver