 # drivers/serial/Kconfig
config VIRTUAL_UART
    default y
    bool "Virtual  UART Device"
    depends on DT_HAS_LINKEDSEMI_VUART_ENABLED
    help
      Enable the virtual  UART driver which emulates a UART device with no 
      physical UART hardware. This can be used in conjunction with an eSPI host 
      bridge to provide a host-visible serial port.
config VUART_INIT_PRIORITY
    default 1
    int "Vuart driver initialization priority"
    help
      Driver initialization priority for vuart driver.
