config SOC_SERIES_LE501X
    bool "Linkedsemi LE501X series Cortex-M0 MCU"
    select ARM
    select CPU_CORTEX_M0
  	select XIP
    select CPU_CORTEX_M_HAS_SYSTICK
    select SOC_FAMILY_LINKEDSEMI_ARM