

if WOLFSSL

config WOLFSSL_LINKEDSEMI_OTBN_DELEGATION
    bool "delegation based on otbn for wolfssl"
    default n

config WOLFSSL_LINKEDSEMI_OTBN_DELEGATION_CLIENT
    bool "otbn moudule can be excuted in delegation server."
    default n
    select WOLFSSL_LINKEDSEMI_OTBN_DELEGATION
    select WOLFSSL_LINKEDSEMI_OTBN_ECC_ALT

config WOLFSSL_LINKEDSEMI_OTBN_DELEGATION_SERVER
    bool "otbn moudule can be excuted locally."
    default n
    select WOLFSSL_LINKEDSEMI_OTBN_DELEGATION

config WOLFSSL_LINKEDSEMI_OTBN_ECC_ALT
    bool "Replace the original software encryption function with the ECC encryption provided by OTBN. However, it only supports SM2, P256, and P384."
    select WOLFSSL_LINKEDSEMI_OTBN_ENABLE
    default n

config WOLFSSL_LINKEDSEMI_HARDWARE_SHA224_SHA256_SM3_ALT
    bool "Replace the software sha224、 sha256 and sm3 hash calculate of wolfssl with the hardware hash of linkedsemi"
    default n

config WOLFSSL_LINKEDSEMI_HARDWARE_SHA384_SHA512_ALT
    bool "Replace the software sha512 and sha384 hash calculate of wolfssl with the hardware hash of linkedsemi"
    default n

config WOLFSSL_LINKEDSEMI_HARDWARE_SM4_ALT
    bool "Replace the software SM4 of wolfssl with the hardware sm4 of linkedsemi"
    default n

config WOLFSSL_LINKEDSEMI_HARDWARE_AES_ALT
    bool "Replace the software aes of wolfssl with the hardware aes of linkedsemi"

config WOLFSSL_LINKEDSEMI_OTBN_RSA_ALT
    bool "Replace the software rsa of wolfssl with the otbn's rsa of linkedsemi"
    select WOLFSSL_LINKEDSEMI_OTBN_ENABLE
    default n

config WOLFSSL_LINKEDSEMI_OTBN_ENABLE
    bool "enable otbn moudule"
    default n
    select LINKEDSEMI_OTBN

endif
