# Copyright (c) 2024 linkedsemi
# SPDX-License-Identifier: Apache-2.0

config CRYPTO_LINKEDSEMI_SHA256
    bool "linkedsemi SHA256 driver"
    depends on DT_HAS_LINKEDSEMI_SHA256_ENABLED
    default y
    help
      Enable linkedsemi SHA256 driver.

config CRYPTO_LINKEDSEMI_SHA512
    bool "linkedsemi SHA512 driver"
    depends on DT_HAS_LINKEDSEMI_SHA512_ENABLED
    default y
    help
      Enable linkedsemi SHA512 driver.

config CRYPTO_LINKEDSEMI_SM4
    bool "linkedsemi SM4 driver"
    depends on DT_HAS_LINKEDSEMI_SM4_ENABLED
    default y
    help
      Enable linkedsemi SM4 driver.

config CRYPTO_LINKEDSEMI_AES256
    bool "linkedsemi AES256 driver"
    default y
    depends on DT_HAS_LINKEDSEMI_AES256_ENABLED
    help
      Enable linkedsemi CRYPTO driver.

config CRYPTO_LINKEDSEMI_MAX_SESSION
    int "Maximum of sessions linkedsemi crypto driver can handle"
    default 1
    depends on CRYPTO_LINKEDSEMI
    help
      This can be used to tweak the amount of sessions the driver
      can handle in parallel.


config CRYPTO_LINKEDSEMI_OTBN
  bool "linkedsemi otbn driver"
  depends on DT_HAS_LINKEDSEMI_OTBN_CRYPTO_ENABLED

config CRYPTO_LINKEDSEMI_OTBN_SM2
  bool "linkedsemi otbn driver"
  select CRYPTO_LINKEDSEMI_OTBN
  default y
  depends on DT_HAS_LINKEDSEMI_OTBN_SM2_ENABLED

config CRYPTO_LINKEDSEMI_OTBN_ECC_P256
  bool "linkedsemi otbn driver"
  select CRYPTO_LINKEDSEMI_OTBN
  default y
  depends on DT_HAS_LINKEDSEMI_OTBN_ECC_P256_ENABLED

config CRYPTO_LINKEDSEMI_OTBN_ECC_P384
  bool "linkedsemi otbn driver"
  select CRYPTO_LINKEDSEMI_OTBN
  default y
  depends on DT_HAS_LINKEDSEMI_OTBN_ECC_P384_ENABLED