# Copyright (c) 2025 linkedsemi
# SPDX-License-Identifier: Apache-2.0

config MBOX_LINKEDSEMI
	bool "MBOX LINKEDSEMI driver"
	depends on DT_HAS_LINKEDSEMI_MBOX_ENABLED
	default y
	help
	  MBOX Driver for LINKEDSEMI SOC

if MBOX_LINKEDSEMI

config SIGNALLING_MODE_SUPPORT
    bool "NULL msg support for mailbox"
    default n
    help
      not support signalling mode

config MBOX_LINKEDSEMI_APP_CPU1
	bool "MBOX LINKEDSEMI driver app cpu1"
	depends on $(dt_path_enabled,/cpus/cpu@1)
	default y
	help
	  MBOX Driver for LINKEDSEMI SOC

config MBOX_LINKEDSEMI_APP_CPU2
	bool "MBOX LINKEDSEMI driver app cpu2"
	depends on $(dt_path_enabled,/cpus/cpu@2)
	default y
	help
	  MBOX Driver for LINKEDSEMI SOC

endif # MBOX_LINKEDSEMI
