# Copyright (c) 2024 Celina Sophie Kalus <hello@celinakalus.de>
# SPDX-License-Identifier: Apache-2.0

config MBOX_LINKEDSEMI
	bool "MBOX LINKEDSEMI driver"
	depends on DT_HAS_LINKEDSEMI_MBOX_ENABLED
	default y
	help
	  MBOX Driver for LINKEDSEMI SOC

if MBOX_LINKEDSEMI

config NOTSUP_NULL_MSG
    bool "NULL msg support for mailbox"
    default n
    help
      not support signalling mode

endif #MBOX_LINKEDSEMI
