
if SOC_FAMILY_LS_MCU

config ESPI_LPC
    bool
    default y

config ESPI_LPC_MBOX
    bool "espi lpc mbox for dual core cooperation"
    default n
    depends on ESPI_LPC

config ESPI_LPC_HOST_VUART
    bool "Linkedsemi ESPI_LPC_HOST_VUART VUART (Zephyr port of linux_espi-master)"
    default y
    depends on DT_HAS_LINKEDSEMI_LS_HOST_VUART_ENABLED
    depends on ESPI_LPC

    help
        Enable Host-side VUART

config ESPI_LPC_HOST_KCS
    bool "Linkedsemi ESPI/LPC HOST KCS"
    default y
    depends on DT_HAS_LINKEDSEMI_LS_HOST_KCS_ENABLED
    depends on ESPI_LPC

    help
        Enable Host-side KCS

config LINKEDSEMI_TPM_WWDT
    bool "LinkedSemi TPM WWDT"
    default n
    depends on SOC_LSQSH

    help
      Enable wwdt1_tpm_init() in lsqsh soc.c
rsource "*/Kconfig"

endif
